[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
geopandas = "*"
ipython = "*"
mplleaflet = "*"
mplexporter = "*"
matplotlib = "*"
descartes = "*"
pandas-bokeh = "*"
xlrd = "*"

[requires]
python_version = "3.7"
