<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_f64f26cba5a14d298b0b7cd2e154e98f {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
        <title>Corona Viruses in Singapore</title>
    
    
     <div style="position: fixed; 
     bottom: 20px; right: 10px; width: 110px; height: 120px; 
     border:2px solid grey; z-index:9999; font-size:12px;">
     &nbsp; 2020 Feb 09 <br>
     &nbsp; <i class="fa fa-map-marker fa-2x"
                  style="color:orange"></i>&nbsp; imported<br>
     &nbsp; <i class="fa fa-map-marker fa-2x"
                  style="color:red"></i>&nbsp; infected<br>
     &nbsp; <i class="fa fa-map-marker fa-2x"
                  style="color:green"></i>&nbsp; recovered
      </div>
    
    
            <div class="folium-map" id="map_f64f26cba5a14d298b0b7cd2e154e98f" ></div>
        
</body>
<script>    
    
            var map_f64f26cba5a14d298b0b7cd2e154e98f = L.map(
                "map_f64f26cba5a14d298b0b7cd2e154e98f",
                {
                    center: [1.36092, 103.832512],
                    crs: L.CRS.EPSG3857,
                    zoom: 11,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_3cac668b81874a4dae8e718ef56b85bf = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_f64f26cba5a14d298b0b7cd2e154e98f);
        
    
            var feature_group_6deecd1593da4f35920a6d70b8859932 = L.featureGroup(
                {}
            ).addTo(map_f64f26cba5a14d298b0b7cd2e154e98f);
        
    
            var marker_b3fa97b3be1a48d5b2962087235cd027 = L.marker(
                [1.36281989482, 103.99087429],
                {}
            ).addTo(feature_group_6deecd1593da4f35920a6d70b8859932);
        
    
            var icon_4a2d67e05ca94223835991093b7bd415 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_b3fa97b3be1a48d5b2962087235cd027.setIcon(icon_4a2d67e05ca94223835991093b7bd415);
        
    
        var popup_4bc5f37d70cf4531a69395666b234a25 = L.popup({"maxWidth": 300});

        
            var html_52c16e9297614a51807634acf68c9d8b = $(`<div id="html_52c16e9297614a51807634acf68c9d8b" style="width: 100.0%; height: 100.0%;">#15, Jan-31<br>From: Singapore<br>Profile: 47, Female<br>Visited: China, Wuhan</div>`)[0];
            popup_4bc5f37d70cf4531a69395666b234a25.setContent(html_52c16e9297614a51807634acf68c9d8b);
        

        marker_b3fa97b3be1a48d5b2962087235cd027.bindPopup(popup_4bc5f37d70cf4531a69395666b234a25)
        ;

        
    
    
            var marker_9f282cd8a0e8494294424d277197935c = L.marker(
                [1.36270727391, 103.991131783],
                {}
            ).addTo(feature_group_6deecd1593da4f35920a6d70b8859932);
        
    
            var icon_2793ac5848a14c318da763487e93e4e0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_9f282cd8a0e8494294424d277197935c.setIcon(icon_2793ac5848a14c318da763487e93e4e0);
        
    
        var popup_eb1df08d12c34f0aaffbcda1c00deb0e = L.popup({"maxWidth": 300});

        
            var html_e5820802d49b410abec7ee8b4fdfa144 = $(`<div id="html_e5820802d49b410abec7ee8b4fdfa144" style="width: 100.0%; height: 100.0%;">#17, Jan-31<br>From: Singapore<br>Profile: 47, Female<br>Visited: China, Wuhan<br>Linked to: #12.0</div>`)[0];
            popup_eb1df08d12c34f0aaffbcda1c00deb0e.setContent(html_e5820802d49b410abec7ee8b4fdfa144);
        

        marker_9f282cd8a0e8494294424d277197935c.bindPopup(popup_eb1df08d12c34f0aaffbcda1c00deb0e)
        ;

        
    
    
            var marker_57ef8bb3ff8e40788d934fbe02bad7d4 = L.marker(
                [1.28475359094, 103.815278113],
                {}
            ).addTo(feature_group_6deecd1593da4f35920a6d70b8859932);
        
    
            var icon_e86af80b511049629deab211d553025b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_57ef8bb3ff8e40788d934fbe02bad7d4.setIcon(icon_e86af80b511049629deab211d553025b);
        
    
        var popup_b27156778537400fa6951ce0cad83dbf = L.popup({"maxWidth": 300});

        
            var html_0d1e67ff4d47401ebcbf3a081df7ceb1 = $(`<div id="html_0d1e67ff4d47401ebcbf3a081df7ceb1" style="width: 100.0%; height: 100.0%;">#19, Feb-04<br>From: Singapore<br>Profile: 28, Female<br>Visited: Singapore General Hospital, Tan Tock Seng Hospital, GP Clinic, Yong Thai Hang, Diamond Industries Jewellery, Meeting You Restaurant, Royal Dragon Restaurant, T Galleria by DFS, DResort @ Downtown East</div>`)[0];
            popup_b27156778537400fa6951ce0cad83dbf.setContent(html_0d1e67ff4d47401ebcbf3a081df7ceb1);
        

        marker_57ef8bb3ff8e40788d934fbe02bad7d4.bindPopup(popup_b27156778537400fa6951ce0cad83dbf)
        ;

        
    
    
            var marker_aea996535dcf4989a7747ba802c6cef8 = L.marker(
                [1.37476572624, 103.885970414],
                {}
            ).addTo(feature_group_6deecd1593da4f35920a6d70b8859932);
        
    
            var icon_8d70c116168d475ab9672e17d7697649 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_aea996535dcf4989a7747ba802c6cef8.setIcon(icon_8d70c116168d475ab9672e17d7697649);
        
    
        var popup_57fb2185a2fc4a07bed39ce079166c82 = L.popup({"maxWidth": 300});

        
            var html_acd45de65d8f4ca49654400e6c482e02 = $(`<div id="html_acd45de65d8f4ca49654400e6c482e02" style="width: 100.0%; height: 100.0%;">#20, Feb-04<br>From: Singapore<br>Profile: 48, Female<br>Visited: Yong Thai Hang, Diamond Industries Jewellery, Meeting You Restaurant, Royal Dragon Restaurant, T Galleria by DFS, DResort @ Downtown East<br>Linked to: #19.0</div>`)[0];
            popup_57fb2185a2fc4a07bed39ce079166c82.setContent(html_acd45de65d8f4ca49654400e6c482e02);
        

        marker_aea996535dcf4989a7747ba802c6cef8.bindPopup(popup_57fb2185a2fc4a07bed39ce079166c82)
        ;

        
    
    
            var marker_cdf0f33d8f9f42c791e26d004207d2a3 = L.marker(
                [1.28479917703, 103.815087676],
                {}
            ).addTo(feature_group_6deecd1593da4f35920a6d70b8859932);
        
    
            var icon_a3b4a2caf87b45c1b52b9c72e4d593d7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_cdf0f33d8f9f42c791e26d004207d2a3.setIcon(icon_a3b4a2caf87b45c1b52b9c72e4d593d7);
        
    
        var popup_54d12f40d73b421788f7a633d49c2850 = L.popup({"maxWidth": 300});

        
            var html_6b454edf1652439ca502c4d50010d063 = $(`<div id="html_6b454edf1652439ca502c4d50010d063" style="width: 100.0%; height: 100.0%;">#21, Feb-04<br>From: Singapore<br>Profile: 44, Female<br>Visited: Singapore General Hospital, Yong Thai Hang, Diamond Industries Jewellery, Meeting You Restaurant, Royal Dragon Restaurant, T Galleria by DFS, DResort @ Downtown East<br>Linked to: #19.0</div>`)[0];
            popup_54d12f40d73b421788f7a633d49c2850.setContent(html_6b454edf1652439ca502c4d50010d063);
        

        marker_cdf0f33d8f9f42c791e26d004207d2a3.bindPopup(popup_54d12f40d73b421788f7a633d49c2850)
        ;

        
    
    
            var marker_d6a57775cf864232bb00d2661a2a1359 = L.marker(
                [1.36292983428, 103.99122566],
                {}
            ).addTo(feature_group_6deecd1593da4f35920a6d70b8859932);
        
    
            var icon_def16b2b74514f2b8e8ce3d728b405e1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_d6a57775cf864232bb00d2661a2a1359.setIcon(icon_def16b2b74514f2b8e8ce3d728b405e1);
        
    
        var popup_d9035e6eaac440fd8a73285ab79427c8 = L.popup({"maxWidth": 300});

        
            var html_67b987f868464a459ff7c85896c9d96e = $(`<div id="html_67b987f868464a459ff7c85896c9d96e" style="width: 100.0%; height: 100.0%;">#22, Feb-04<br>From: Singapore<br>Profile: 41, Male<br>Visited: China, Wuhan</div>`)[0];
            popup_d9035e6eaac440fd8a73285ab79427c8.setContent(html_67b987f868464a459ff7c85896c9d96e);
        

        marker_d6a57775cf864232bb00d2661a2a1359.bindPopup(popup_d9035e6eaac440fd8a73285ab79427c8)
        ;

        
    
    
            var marker_e9ab49528b6a491a8ea69037cb641897 = L.marker(
                [1.36307195114, 103.990965486],
                {}
            ).addTo(feature_group_6deecd1593da4f35920a6d70b8859932);
        
    
            var icon_cac00eaaede04baf937e91e245ded671 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_e9ab49528b6a491a8ea69037cb641897.setIcon(icon_cac00eaaede04baf937e91e245ded671);
        
    
        var popup_807d83b3a9fb44fc9276f12520a3ee66 = L.popup({"maxWidth": 300});

        
            var html_b0dd000649d64b54ba098c0a14d47e73 = $(`<div id="html_b0dd000649d64b54ba098c0a14d47e73" style="width: 100.0%; height: 100.0%;">#23, Feb-04<br>From: Singapore<br>Profile: 17, Male<br>Visited: China, Wuhan</div>`)[0];
            popup_807d83b3a9fb44fc9276f12520a3ee66.setContent(html_b0dd000649d64b54ba098c0a14d47e73);
        

        marker_e9ab49528b6a491a8ea69037cb641897.bindPopup(popup_807d83b3a9fb44fc9276f12520a3ee66)
        ;

        
    
    
            var marker_8fd1e5ec28e64eff9319cadba7655d41 = L.marker(
                [1.3793195, 103.8826748],
                {}
            ).addTo(feature_group_6deecd1593da4f35920a6d70b8859932);
        
    
            var icon_6ceb8caddd544e09952c617ac434b7ca = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_8fd1e5ec28e64eff9319cadba7655d41.setIcon(icon_6ceb8caddd544e09952c617ac434b7ca);
        
    
        var popup_ba0b3d82a0de4fbb9e6e08839354840d = L.popup({"maxWidth": 300});

        
            var html_dee68b8e4c3c4859b673f2eaef7a8b07 = $(`<div id="html_dee68b8e4c3c4859b673f2eaef7a8b07" style="width: 100.0%; height: 100.0%;">#24, Feb-04<br>From: Singapore<br>Profile: 32, Female<br>Visited: Yong Thai Hang, Jalan Besar, Hougang Polyclinic, Diamond Industries Jewellery, Meeting You Restaurant, Royal Dragon Restaurant, T Galleria by DFS, DResort @ Downtown East<br>Linked to: #19.0</div>`)[0];
            popup_ba0b3d82a0de4fbb9e6e08839354840d.setContent(html_dee68b8e4c3c4859b673f2eaef7a8b07);
        

        marker_8fd1e5ec28e64eff9319cadba7655d41.bindPopup(popup_ba0b3d82a0de4fbb9e6e08839354840d)
        ;

        
    
    
            var marker_e2d2449f67cc4691895d9eac747ee983 = L.marker(
                [1.37916596021, 103.882692754],
                {}
            ).addTo(feature_group_6deecd1593da4f35920a6d70b8859932);
        
    
            var icon_eaa2441aac5e4f7fbff89c37c5ac0963 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_e2d2449f67cc4691895d9eac747ee983.setIcon(icon_eaa2441aac5e4f7fbff89c37c5ac0963);
        
    
        var popup_5007b1f8102044a289bd700438758733 = L.popup({"maxWidth": 300});

        
            var html_ca33c57f2d89460c921aba36de1b5d6e = $(`<div id="html_ca33c57f2d89460c921aba36de1b5d6e" style="width: 100.0%; height: 100.0%;">#25, Feb-04<br>From: Singapore<br>Profile: 32, Male<br>Visited: Hougang Polyclinic, Pasir Panjang Hawker Centre, Diamond Industries Jewellery Company, Yong Thai Hang, Meeting You Restaurant, Royal Dragon Restaurant, T Galleria by DFS, DResort @ Downtown East<br>Linked to: #24.0</div>`)[0];
            popup_5007b1f8102044a289bd700438758733.setContent(html_ca33c57f2d89460c921aba36de1b5d6e);
        

        marker_e2d2449f67cc4691895d9eac747ee983.bindPopup(popup_5007b1f8102044a289bd700438758733)
        ;

        
    
    
            var marker_331d9c4e2b8e4f4cae2827c08906b98a = L.marker(
                [1.28465705569, 103.815594614],
                {}
            ).addTo(feature_group_6deecd1593da4f35920a6d70b8859932);
        
    
            var icon_756ce18bf0244bdcacf005b0d1651cb4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_331d9c4e2b8e4f4cae2827c08906b98a.setIcon(icon_756ce18bf0244bdcacf005b0d1651cb4);
        
    
        var popup_e436d1e028a54726adb466a2677e61d9 = L.popup({"maxWidth": 300});

        
            var html_48c3cd3b92a046b88ee3ab12012aed37 = $(`<div id="html_48c3cd3b92a046b88ee3ab12012aed37" style="width: 100.0%; height: 100.0%;">#27, Feb-05<br>From: Singapore<br>Profile: 45, Male<br>Visited: Yong Thai Hang, Diamond Industries Jewellery, Meeting You Restaurant, Royal Dragon Restaurant, T Galleria by DFS, DResort @ Downtown East<br>Linked to: #19.0</div>`)[0];
            popup_e436d1e028a54726adb466a2677e61d9.setContent(html_48c3cd3b92a046b88ee3ab12012aed37);
        

        marker_331d9c4e2b8e4f4cae2827c08906b98a.bindPopup(popup_e436d1e028a54726adb466a2677e61d9)
        ;

        
    
    
            var marker_52fd6d603fb14b21a52655af31b903f3 = L.marker(
                [1.28469996024, 103.815433681],
                {}
            ).addTo(feature_group_6deecd1593da4f35920a6d70b8859932);
        
    
            var icon_86f957dfe8ee4154b9606d5282089e93 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_52fd6d603fb14b21a52655af31b903f3.setIcon(icon_86f957dfe8ee4154b9606d5282089e93);
        
    
        var popup_6039b8c0e13848b4a259a5121255a211 = L.popup({"maxWidth": 300});

        
            var html_38c12fea99f14fe3a09f92161b68545e = $(`<div id="html_38c12fea99f14fe3a09f92161b68545e" style="width: 100.0%; height: 100.0%;">#28, Feb-05<br>From: Singapore<br>Profile: 0, Male<br>Visited: KK Womens and Childrens Hospital, Yong Thai Hang, Diamond Industries Jewellery, Meeting You Restaurant, Royal Dragon Restaurant, T Galleria by DFS, DResort @ Downtown East<br>Linked to: #27.0</div>`)[0];
            popup_6039b8c0e13848b4a259a5121255a211.setContent(html_38c12fea99f14fe3a09f92161b68545e);
        

        marker_52fd6d603fb14b21a52655af31b903f3.bindPopup(popup_6039b8c0e13848b4a259a5121255a211)
        ;

        
    
    
            var marker_b746330d3d414d7093ef4fbb0aa73738 = L.marker(
                [1.322274, 103.844135],
                {}
            ).addTo(feature_group_6deecd1593da4f35920a6d70b8859932);
        
    
            var icon_7dd128203f224618be88cf65645a7979 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_b746330d3d414d7093ef4fbb0aa73738.setIcon(icon_7dd128203f224618be88cf65645a7979);
        
    
        var popup_05f20baa0a9841ca8788e657dc67857f = L.popup({"maxWidth": 300});

        
            var html_6fe475c6dbf6426aa0adedff7e445bc1 = $(`<div id="html_6fe475c6dbf6426aa0adedff7e445bc1" style="width: 100.0%; height: 100.0%;">#29, Feb-06<br>From: Singapore<br>Profile: 41, Male<br>Visited: Mount Elizabeth Novena Hospital, GP Clinic</div>`)[0];
            popup_05f20baa0a9841ca8788e657dc67857f.setContent(html_6fe475c6dbf6426aa0adedff7e445bc1);
        

        marker_b746330d3d414d7093ef4fbb0aa73738.bindPopup(popup_05f20baa0a9841ca8788e657dc67857f)
        ;

        
    
    
            var marker_48a114be241744f18a2e9edbdc749e56 = L.marker(
                [1.30645, 103.833184],
                {}
            ).addTo(feature_group_6deecd1593da4f35920a6d70b8859932);
        
    
            var icon_c04bf2779b274226a98c44e3da267ccd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_48a114be241744f18a2e9edbdc749e56.setIcon(icon_c04bf2779b274226a98c44e3da267ccd);
        
    
        var popup_481a8215c58d487c96b0a7c82426da53 = L.popup({"maxWidth": 300});

        
            var html_140c50a323f14db99cac40d520392a6e = $(`<div id="html_140c50a323f14db99cac40d520392a6e" style="width: 100.0%; height: 100.0%;">#30, Feb-06<br>From: Singapore<br>Profile: 27, Male<br>Visited: Grand Hyatt Singapore Hotel</div>`)[0];
            popup_481a8215c58d487c96b0a7c82426da53.setContent(html_140c50a323f14db99cac40d520392a6e);
        

        marker_48a114be241744f18a2e9edbdc749e56.bindPopup(popup_481a8215c58d487c96b0a7c82426da53)
        ;

        
    
    
            var marker_e20ac2c13d924b7aa9150f1197a1eeb3 = L.marker(
                [1.355457, 103.951563],
                {}
            ).addTo(feature_group_6deecd1593da4f35920a6d70b8859932);
        
    
            var icon_ab17df581855457587416426d45f1e91 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_e20ac2c13d924b7aa9150f1197a1eeb3.setIcon(icon_ab17df581855457587416426d45f1e91);
        
    
        var popup_ee0a7fb4cfec47f8ad6ab287dc882b07 = L.popup({"maxWidth": 300});

        
            var html_c812e47343e644bf92f5c48d20a73b88 = $(`<div id="html_c812e47343e644bf92f5c48d20a73b88" style="width: 100.0%; height: 100.0%;">#31, Feb-07<br>From: Singapore<br>Profile: 53, Male<br>Visited: The Life Church, Missions Singapore</div>`)[0];
            popup_ee0a7fb4cfec47f8ad6ab287dc882b07.setContent(html_c812e47343e644bf92f5c48d20a73b88);
        

        marker_e20ac2c13d924b7aa9150f1197a1eeb3.bindPopup(popup_ee0a7fb4cfec47f8ad6ab287dc882b07)
        ;

        
    
    
            var marker_29824c5ab9b44fe1ba72b1f9e42cb7bf = L.marker(
                [1.378105, 103.94172],
                {}
            ).addTo(feature_group_6deecd1593da4f35920a6d70b8859932);
        
    
            var icon_86e451f70268478291c5b6a7c801ee3e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_29824c5ab9b44fe1ba72b1f9e42cb7bf.setIcon(icon_86e451f70268478291c5b6a7c801ee3e);
        
    
        var popup_757662a935684ef597a9ed4fa2786f27 = L.popup({"maxWidth": 300});

        
            var html_935a2b9951d149ce9975381c89618121 = $(`<div id="html_935a2b9951d149ce9975381c89618121" style="width: 100.0%; height: 100.0%;">#32, Feb-07<br>From: Singapore<br>Profile: 42, Female<br>Visited: Victoria Junior College, Parkway East Hospital, Changi Airport, Singapore Zoo</div>`)[0];
            popup_757662a935684ef597a9ed4fa2786f27.setContent(html_935a2b9951d149ce9975381c89618121);
        

        marker_29824c5ab9b44fe1ba72b1f9e42cb7bf.bindPopup(popup_757662a935684ef597a9ed4fa2786f27)
        ;

        
    
    
            var marker_2207e8bef04942dbb991616f089a0a16 = L.marker(
                [1.392699, 103.894414],
                {}
            ).addTo(feature_group_6deecd1593da4f35920a6d70b8859932);
        
    
            var icon_0f4eeaf011954c45b02b4c73797d2783 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_2207e8bef04942dbb991616f089a0a16.setIcon(icon_0f4eeaf011954c45b02b4c73797d2783);
        
    
        var popup_a04c3a78510c46519a198525262250a9 = L.popup({"maxWidth": 300});

        
            var html_d52b87a1e8414acda822451e6b1209df = $(`<div id="html_d52b87a1e8414acda822451e6b1209df" style="width: 100.0%; height: 100.0%;">#33, Feb-07<br>From: Singapore<br>Profile: 39, Female<br>Visited: Sengkang Polyclinic</div>`)[0];
            popup_a04c3a78510c46519a198525262250a9.setContent(html_d52b87a1e8414acda822451e6b1209df);
        

        marker_2207e8bef04942dbb991616f089a0a16.bindPopup(popup_a04c3a78510c46519a198525262250a9)
        ;

        
    
    
            var marker_e9ae4cf0d5b04c9c9a0684f03c4fb93f = L.marker(
                [1.355904, 103.838301],
                {}
            ).addTo(feature_group_6deecd1593da4f35920a6d70b8859932);
        
    
            var icon_c6599b56acc0409bac926267321046cd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_e9ae4cf0d5b04c9c9a0684f03c4fb93f.setIcon(icon_c6599b56acc0409bac926267321046cd);
        
    
        var popup_d501db81a4e946c288153ef0339810d5 = L.popup({"maxWidth": 300});

        
            var html_4960507635b044c3be2c3f6b53bfb775 = $(`<div id="html_4960507635b044c3be2c3f6b53bfb775" style="width: 100.0%; height: 100.0%;">#34, Feb-07<br>From: Singapore<br>Profile: 40, Female<br>Visited: Yong Thai Hang, GP Clinic, NCID<br>Linked to: #19</div>`)[0];
            popup_d501db81a4e946c288153ef0339810d5.setContent(html_4960507635b044c3be2c3f6b53bfb775);
        

        marker_e9ae4cf0d5b04c9c9a0684f03c4fb93f.bindPopup(popup_d501db81a4e946c288153ef0339810d5)
        ;

        
    
    
            var marker_e8a0b53ad0a14c3bb4bfc08ffa9a5665 = L.marker(
                [1.288771, 103.821619],
                {}
            ).addTo(feature_group_6deecd1593da4f35920a6d70b8859932);
        
    
            var icon_d39416361e284a85ba1db4c3b7727663 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_e8a0b53ad0a14c3bb4bfc08ffa9a5665.setIcon(icon_d39416361e284a85ba1db4c3b7727663);
        
    
        var popup_2935e4b0e1b3406a837aa0621b78f1d9 = L.popup({"maxWidth": 300});

        
            var html_9c3db62f47534ca6ac98bcffecade0d5 = $(`<div id="html_9c3db62f47534ca6ac98bcffecade0d5" style="width: 100.0%; height: 100.0%;">#35, Feb-07<br>From: Singapore<br>Profile: 64, Male<br>Visited: Bukit Merah Polyclinic, SGH, Redhill Market, Hawker centre at Bukit Merah</div>`)[0];
            popup_2935e4b0e1b3406a837aa0621b78f1d9.setContent(html_9c3db62f47534ca6ac98bcffecade0d5);
        

        marker_e8a0b53ad0a14c3bb4bfc08ffa9a5665.bindPopup(popup_2935e4b0e1b3406a837aa0621b78f1d9)
        ;

        
    
    
            var marker_6f002beaf25d4eb6b0ff06b812e22b73 = L.marker(
                [1.359237, 103.751117],
                {}
            ).addTo(feature_group_6deecd1593da4f35920a6d70b8859932);
        
    
            var icon_d501865f9e02443184e0208e505d2d0b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_6f002beaf25d4eb6b0ff06b812e22b73.setIcon(icon_d501865f9e02443184e0208e505d2d0b);
        
    
        var popup_287c00cf83b2490299cd09372d18a476 = L.popup({"maxWidth": 300});

        
            var html_7aff9ea668a54d4bbc2ab9dd29c52f57 = $(`<div id="html_7aff9ea668a54d4bbc2ab9dd29c52f57" style="width: 100.0%; height: 100.0%;">#36, Feb-07<br>From: Singapore<br>Profile: 38, Female<br>Visited: Grand Hyatt Singapore, Johor Bahru, GP clinic, NCID, KK Women’s and Children’s Hospital, Ng Teng Fong General Hospital<br>Linked to: #30</div>`)[0];
            popup_287c00cf83b2490299cd09372d18a476.setContent(html_7aff9ea668a54d4bbc2ab9dd29c52f57);
        

        marker_6f002beaf25d4eb6b0ff06b812e22b73.bindPopup(popup_287c00cf83b2490299cd09372d18a476)
        ;

        
    
    
            var marker_f511499d4f804d62a23917b3eaf48678 = L.marker(
                [1.347247, 103.733663],
                {}
            ).addTo(feature_group_6deecd1593da4f35920a6d70b8859932);
        
    
            var icon_f3fc5922f04d4c6283d0abab9f4e84be = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_f511499d4f804d62a23917b3eaf48678.setIcon(icon_f3fc5922f04d4c6283d0abab9f4e84be);
        
    
        var popup_37c6382383e34f6db48cc29a52850551 = L.popup({"maxWidth": 300});

        
            var html_8eecad8d7dfc42708ece9eb7601d1be8 = $(`<div id="html_8eecad8d7dfc42708ece9eb7601d1be8" style="width: 100.0%; height: 100.0%;">#37, Feb-07<br>From: Singapore<br>Profile: 53, Male<br>Visited: GP clinics, Ng Teng Fong General Hospital, NCID</div>`)[0];
            popup_37c6382383e34f6db48cc29a52850551.setContent(html_8eecad8d7dfc42708ece9eb7601d1be8);
        

        marker_f511499d4f804d62a23917b3eaf48678.bindPopup(popup_37c6382383e34f6db48cc29a52850551)
        ;

        
    
    
            var marker_84979192dfd44939870dd649472facf9 = L.marker(
                [1.380107, 103.741224],
                {}
            ).addTo(feature_group_6deecd1593da4f35920a6d70b8859932);
        
    
            var icon_bcf80015b1954c09bbf080c7b63aca4d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_84979192dfd44939870dd649472facf9.setIcon(icon_bcf80015b1954c09bbf080c7b63aca4d);
        
    
        var popup_843464f6539046219209d2adea323754 = L.popup({"maxWidth": 300});

        
            var html_fbff3f08d5b74fc49067b40bb3dea73d = $(`<div id="html_fbff3f08d5b74fc49067b40bb3dea73d" style="width: 100.0%; height: 100.0%;">#38, Feb-08<br>From: Singapore<br>Profile: 52, Female<br>Visited: Choa Chu Kang Polyclinic, The Life Church and Missions Singapore, Marina Bay Sands, Chinatown and Plaza Singapura</div>`)[0];
            popup_843464f6539046219209d2adea323754.setContent(html_fbff3f08d5b74fc49067b40bb3dea73d);
        

        marker_84979192dfd44939870dd649472facf9.bindPopup(popup_843464f6539046219209d2adea323754)
        ;

        
    
    
            var marker_2a7dbfd89c834d41b6f3675208578a65 = L.marker(
                [1.342497, 103.705433],
                {}
            ).addTo(feature_group_6deecd1593da4f35920a6d70b8859932);
        
    
            var icon_f18ed9f1c59547f189075dcc23ce6a52 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_2a7dbfd89c834d41b6f3675208578a65.setIcon(icon_f18ed9f1c59547f189075dcc23ce6a52);
        
    
        var popup_a7acf07b3849458b97141715b427351b = L.popup({"maxWidth": 300});

        
            var html_8af49f13334e4fc4893c618e3022173a = $(`<div id="html_8af49f13334e4fc4893c618e3022173a" style="width: 100.0%; height: 100.0%;">#39, Feb-08<br>From: Singapore<br>Profile: 51, Male<br>Visited: Malaysia, GP clinics, NCID, Grand Hyatt Singapore<br>Linked to: #30</div>`)[0];
            popup_a7acf07b3849458b97141715b427351b.setContent(html_8af49f13334e4fc4893c618e3022173a);
        

        marker_2a7dbfd89c834d41b6f3675208578a65.bindPopup(popup_a7acf07b3849458b97141715b427351b)
        ;

        
    
    
            var marker_ed4c06d7c9c748d192f077cc3c600fbe = L.marker(
                [1.333001, 103.926856],
                {}
            ).addTo(feature_group_6deecd1593da4f35920a6d70b8859932);
        
    
            var icon_6968fcc02ece491690b612b32ca3b0e2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_ed4c06d7c9c748d192f077cc3c600fbe.setIcon(icon_6968fcc02ece491690b612b32ca3b0e2);
        
    
        var popup_5ccec59e81df46f29d7c93bb68015d70 = L.popup({"maxWidth": 300});

        
            var html_e0f5f09c12c441f3a8bbd522bd3ca966 = $(`<div id="html_e0f5f09c12c441f3a8bbd522bd3ca966" style="width: 100.0%; height: 100.0%;">#40, Feb-08<br>From: Singapore<br>Profile: 36, Male<br>Visited: GP clinic, Yong Thai Hang<br>Linked to: #19</div>`)[0];
            popup_5ccec59e81df46f29d7c93bb68015d70.setContent(html_e0f5f09c12c441f3a8bbd522bd3ca966);
        

        marker_ed4c06d7c9c748d192f077cc3c600fbe.bindPopup(popup_5ccec59e81df46f29d7c93bb68015d70)
        ;

        
    
    
            var feature_group_86a2a8f3fbc6436cb30a72bc5d980fcc = L.featureGroup(
                {}
            ).addTo(map_f64f26cba5a14d298b0b7cd2e154e98f);
        
    
            var marker_66bf140c004a4708a3045c79bd3a60e9 = L.marker(
                [1.2577323, 103.8097962],
                {}
            ).addTo(feature_group_86a2a8f3fbc6436cb30a72bc5d980fcc);
        
    
            var icon_664f18eebed941ffac62e2bb87eefab5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_66bf140c004a4708a3045c79bd3a60e9.setIcon(icon_664f18eebed941ffac62e2bb87eefab5);
        
    
        var popup_fa6fc72ecb1e440f83b50dbba2203996 = L.popup({"maxWidth": 300});

        
            var html_956b2d63fc894a7c8ccf4b6d1d9f999b = $(`<div id="html_956b2d63fc894a7c8ccf4b6d1d9f999b" style="width: 100.0%; height: 100.0%;">#1, Jan-23<br>From: China, Wuhan<br>Profile: 66, Male<br>Visited: Singapore General Hospital</div>`)[0];
            popup_fa6fc72ecb1e440f83b50dbba2203996.setContent(html_956b2d63fc894a7c8ccf4b6d1d9f999b);
        

        marker_66bf140c004a4708a3045c79bd3a60e9.bindPopup(popup_fa6fc72ecb1e440f83b50dbba2203996)
        ;

        
    
    
            var marker_3ab13f1876804097a8525f6b89776878 = L.marker(
                [1.257763, 103.810018],
                {}
            ).addTo(feature_group_86a2a8f3fbc6436cb30a72bc5d980fcc);
        
    
            var icon_3dd67ace08fe4482b052d940da7fed1d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_3ab13f1876804097a8525f6b89776878.setIcon(icon_3dd67ace08fe4482b052d940da7fed1d);
        
    
        var popup_d9267ee29c3246d78c11617f22bf503b = L.popup({"maxWidth": 300});

        
            var html_9c52c2e2e4c341f092dc083f7e15b570 = $(`<div id="html_9c52c2e2e4c341f092dc083f7e15b570" style="width: 100.0%; height: 100.0%;">#3, Jan-24<br>From: China, Wuhan<br>Profile: 37, Male<br>Visited: Singapore General Hospital<br>Linked to: #1.0</div>`)[0];
            popup_d9267ee29c3246d78c11617f22bf503b.setContent(html_9c52c2e2e4c341f092dc083f7e15b570);
        

        marker_3ab13f1876804097a8525f6b89776878.bindPopup(popup_d9267ee29c3246d78c11617f22bf503b)
        ;

        
    
    
            var marker_e6eb92b2c9ab428e852ec0028ac24cbe = L.marker(
                [1.25212715122, 103.820006847],
                {}
            ).addTo(feature_group_86a2a8f3fbc6436cb30a72bc5d980fcc);
        
    
            var icon_405bcc445d784c4d9ee3c383e1b1593f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_e6eb92b2c9ab428e852ec0028ac24cbe.setIcon(icon_405bcc445d784c4d9ee3c383e1b1593f);
        
    
        var popup_6a88ed3ee0e54e2aa09b726b7805dfbd = L.popup({"maxWidth": 300});

        
            var html_a4419848a74d425ab310c35601d9a6b7 = $(`<div id="html_a4419848a74d425ab310c35601d9a6b7" style="width: 100.0%; height: 100.0%;">#4, Jan-25<br>From: China, Wuhan<br>Profile: 36, Male<br>Visited: Sengkang General Hospital, Universal Studios Singapore, Vivocity</div>`)[0];
            popup_6a88ed3ee0e54e2aa09b726b7805dfbd.setContent(html_a4419848a74d425ab310c35601d9a6b7);
        

        marker_e6eb92b2c9ab428e852ec0028ac24cbe.bindPopup(popup_6a88ed3ee0e54e2aa09b726b7805dfbd)
        ;

        
    
    
            var marker_2632616d3ed14e49a80d3c89b2563aab = L.marker(
                [1.30817132582, 103.900929093],
                {}
            ).addTo(feature_group_86a2a8f3fbc6436cb30a72bc5d980fcc);
        
    
            var icon_b478aee8f8874f04997806c554713f45 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_2632616d3ed14e49a80d3c89b2563aab.setIcon(icon_b478aee8f8874f04997806c554713f45);
        
    
        var popup_aafc9206875e4b92ab6dc1752a579406 = L.popup({"maxWidth": 300});

        
            var html_a661a7301c0c4f4d9fa5511adc06374f = $(`<div id="html_a661a7301c0c4f4d9fa5511adc06374f" style="width: 100.0%; height: 100.0%;">#5, Jan-27<br>From: China, Wuhan<br>Profile: 56, Female<br>Visited: Tan Tock Seng Hospital</div>`)[0];
            popup_aafc9206875e4b92ab6dc1752a579406.setContent(html_a661a7301c0c4f4d9fa5511adc06374f);
        

        marker_2632616d3ed14e49a80d3c89b2563aab.bindPopup(popup_aafc9206875e4b92ab6dc1752a579406)
        ;

        
    
    
            var marker_f40d0658ddc349188183c332c5c99c88 = L.marker(
                [1.28330824331, 103.860577941],
                {}
            ).addTo(feature_group_86a2a8f3fbc6436cb30a72bc5d980fcc);
        
    
            var icon_0448993adb724255b8532db7a939a964 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_f40d0658ddc349188183c332c5c99c88.setIcon(icon_0448993adb724255b8532db7a939a964);
        
    
        var popup_3c1906e2b1df4289b3c5f705be6b2cce = L.popup({"maxWidth": 300});

        
            var html_83646c45f7b043a49112086bff5bb90c = $(`<div id="html_83646c45f7b043a49112086bff5bb90c" style="width: 100.0%; height: 100.0%;">#7, Jan-27<br>From: China, Wuhan<br>Profile: 35, Male<br>Visited: Raffles Hospital</div>`)[0];
            popup_3c1906e2b1df4289b3c5f705be6b2cce.setContent(html_83646c45f7b043a49112086bff5bb90c);
        

        marker_f40d0658ddc349188183c332c5c99c88.bindPopup(popup_3c1906e2b1df4289b3c5f705be6b2cce)
        ;

        
    
    
            var marker_2777ba01e724440bbe7b100dd4b7a759 = L.marker(
                [1.350104424, 103.877644837],
                {}
            ).addTo(feature_group_86a2a8f3fbc6436cb30a72bc5d980fcc);
        
    
            var icon_c3bb3344d7d54277b973f3e47f2f45fd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_2777ba01e724440bbe7b100dd4b7a759.setIcon(icon_c3bb3344d7d54277b973f3e47f2f45fd);
        
    
        var popup_dcdc8d7db5e94782b21e047219354feb = L.popup({"maxWidth": 300});

        
            var html_a05574a494fe4ad28bc59364cc82b88a = $(`<div id="html_a05574a494fe4ad28bc59364cc82b88a" style="width: 100.0%; height: 100.0%;">#8, Jan-28<br>From: China, Wuhan<br>Profile: 56, Male<br>Visited: Tan Tock Seng Hospital</div>`)[0];
            popup_dcdc8d7db5e94782b21e047219354feb.setContent(html_a05574a494fe4ad28bc59364cc82b88a);
        

        marker_2777ba01e724440bbe7b100dd4b7a759.bindPopup(popup_dcdc8d7db5e94782b21e047219354feb)
        ;

        
    
    
            var marker_19570654cb754f8f8e33b74e598ba5a9 = L.marker(
                [1.35016073475, 103.877567053],
                {}
            ).addTo(feature_group_86a2a8f3fbc6436cb30a72bc5d980fcc);
        
    
            var icon_3b4bd8e7f0d44977b4f68875d8bc80ce = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_19570654cb754f8f8e33b74e598ba5a9.setIcon(icon_3b4bd8e7f0d44977b4f68875d8bc80ce);
        
    
        var popup_bff49312e9cf41089f710957bbb4c8ec = L.popup({"maxWidth": 300});

        
            var html_c6be5de6ddba42b09fd2f6f45ec8e17e = $(`<div id="html_c6be5de6ddba42b09fd2f6f45ec8e17e" style="width: 100.0%; height: 100.0%;">#9, Jan-29<br>From: China, Wuhan<br>Profile: 56, Female<br>Visited: Tan Tock Seng Hospital</div>`)[0];
            popup_bff49312e9cf41089f710957bbb4c8ec.setContent(html_c6be5de6ddba42b09fd2f6f45ec8e17e);
        

        marker_19570654cb754f8f8e33b74e598ba5a9.bindPopup(popup_bff49312e9cf41089f710957bbb4c8ec)
        ;

        
    
    
            var marker_0df1ef76c0294991b28c1b1a95214682 = L.marker(
                [1.2707012, 103.8631688],
                {}
            ).addTo(feature_group_86a2a8f3fbc6436cb30a72bc5d980fcc);
        
    
            var icon_3b87cacca18f45789a61db393b8e74b5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_0df1ef76c0294991b28c1b1a95214682.setIcon(icon_3b87cacca18f45789a61db393b8e74b5);
        
    
        var popup_8259fbb06acf43ea8e72ff9a3a8e90e9 = L.popup({"maxWidth": 300});

        
            var html_bbfa5c3182084b369f4e65ef8a478c87 = $(`<div id="html_bbfa5c3182084b369f4e65ef8a478c87" style="width: 100.0%; height: 100.0%;">#10, Jan-29<br>From: China, Wuhan<br>Profile: 56, Male<br>Visited: Marina South Pier<br>Linked to: #4.0</div>`)[0];
            popup_8259fbb06acf43ea8e72ff9a3a8e90e9.setContent(html_bbfa5c3182084b369f4e65ef8a478c87);
        

        marker_0df1ef76c0294991b28c1b1a95214682.bindPopup(popup_8259fbb06acf43ea8e72ff9a3a8e90e9)
        ;

        
    
    
            var marker_dacfdaf9c360422097536894281307d3 = L.marker(
                [1.25210033554, 103.820199966],
                {}
            ).addTo(feature_group_86a2a8f3fbc6436cb30a72bc5d980fcc);
        
    
            var icon_9e34f78f404a459caef26ddefba4c41b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_dacfdaf9c360422097536894281307d3.setIcon(icon_9e34f78f404a459caef26ddefba4c41b);
        
    
        var popup_6502bf3a2ed3431f94901c68decb72f9 = L.popup({"maxWidth": 300});

        
            var html_2546418459004c2da0a7467e4d7ea23f = $(`<div id="html_2546418459004c2da0a7467e4d7ea23f" style="width: 100.0%; height: 100.0%;">#11, Jan-29<br>From: China, Wuhan<br>Profile: 31, Female<br>Visited: Sengkang General Hospital, Universal Studios Singapore, Vivocity</div>`)[0];
            popup_6502bf3a2ed3431f94901c68decb72f9.setContent(html_2546418459004c2da0a7467e4d7ea23f);
        

        marker_dacfdaf9c360422097536894281307d3.bindPopup(popup_6502bf3a2ed3431f94901c68decb72f9)
        ;

        
    
    
            var marker_a2ab9685249f497ebcd5a6daf7802f8b = L.marker(
                [1.25212715122, 103.819829822],
                {}
            ).addTo(feature_group_86a2a8f3fbc6436cb30a72bc5d980fcc);
        
    
            var icon_d0bcd52208154512bba96ac7aca74172 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_a2ab9685249f497ebcd5a6daf7802f8b.setIcon(icon_d0bcd52208154512bba96ac7aca74172);
        
    
        var popup_844518c7efe344d998d62fbd13ad1c7e = L.popup({"maxWidth": 300});

        
            var html_3b623493e8314490863ac01a7c2ae56b = $(`<div id="html_3b623493e8314490863ac01a7c2ae56b" style="width: 100.0%; height: 100.0%;">#12, Jan-29<br>From: China, Wuhan<br>Profile: 37, Female<br>Visited: Orchard Road, Geylang</div>`)[0];
            popup_844518c7efe344d998d62fbd13ad1c7e.setContent(html_3b623493e8314490863ac01a7c2ae56b);
        

        marker_a2ab9685249f497ebcd5a6daf7802f8b.bindPopup(popup_844518c7efe344d998d62fbd13ad1c7e)
        ;

        
    
    
            var marker_b9738a910b0b4f518a56b6a0704a9ad4 = L.marker(
                [1.28549101288, 103.846496344],
                {}
            ).addTo(feature_group_86a2a8f3fbc6436cb30a72bc5d980fcc);
        
    
            var icon_62af8be9d6f1444a849d83e8044e4afe = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_b9738a910b0b4f518a56b6a0704a9ad4.setIcon(icon_62af8be9d6f1444a849d83e8044e4afe);
        
    
        var popup_1fa97b1d5fb34447897f011473bf2874 = L.popup({"maxWidth": 300});

        
            var html_5be61a2974a84b948b0a61e602e36640 = $(`<div id="html_5be61a2974a84b948b0a61e602e36640" style="width: 100.0%; height: 100.0%;">#13, Jan-30<br>From: China, Wuhan<br>Profile: 73, Female<br>Visited:  Changi Airport, Jewel</div>`)[0];
            popup_1fa97b1d5fb34447897f011473bf2874.setContent(html_5be61a2974a84b948b0a61e602e36640);
        

        marker_b9738a910b0b4f518a56b6a0704a9ad4.bindPopup(popup_1fa97b1d5fb34447897f011473bf2874)
        ;

        
    
    
            var marker_af610a1f3836473e8c30fb4d6979e82b = L.marker(
                [1.33608300636, 103.737467229],
                {}
            ).addTo(feature_group_86a2a8f3fbc6436cb30a72bc5d980fcc);
        
    
            var icon_3ce71d9a3d1c48f194263e08c8fbf508 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_af610a1f3836473e8c30fb4d6979e82b.setIcon(icon_3ce71d9a3d1c48f194263e08c8fbf508);
        
    
        var popup_a39661dcbe994d0d964fdcf22aa7885d = L.popup({"maxWidth": 300});

        
            var html_9e688e6247bf46228c8fbdddff75d155 = $(`<div id="html_9e688e6247bf46228c8fbdddff75d155" style="width: 100.0%; height: 100.0%;">#14, Jan-30<br>From: China, Hubei<br>Profile: 31, Male<br>Visited: GP Clinic</div>`)[0];
            popup_a39661dcbe994d0d964fdcf22aa7885d.setContent(html_9e688e6247bf46228c8fbdddff75d155);
        

        marker_af610a1f3836473e8c30fb4d6979e82b.bindPopup(popup_a39661dcbe994d0d964fdcf22aa7885d)
        ;

        
    
    
            var marker_18caa3cda17044b48f33702751d4731c = L.marker(
                [1.2962606, 103.8256719],
                {}
            ).addTo(feature_group_86a2a8f3fbc6436cb30a72bc5d980fcc);
        
    
            var icon_8f4a2036ea7f4169b6495a23d6507c7e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_18caa3cda17044b48f33702751d4731c.setIcon(icon_8f4a2036ea7f4169b6495a23d6507c7e);
        
    
        var popup_9c0d1d51eb5542089ec3faa341556a87 = L.popup({"maxWidth": 300});

        
            var html_7a558be7c7614286bebaeb807d391b17 = $(`<div id="html_7a558be7c7614286bebaeb807d391b17" style="width: 100.0%; height: 100.0%;">#16, Jan-31<br>From: China, Hubei<br>Profile: 38, Male<br>Visited: Singapore General Hospital</div>`)[0];
            popup_9c0d1d51eb5542089ec3faa341556a87.setContent(html_7a558be7c7614286bebaeb807d391b17);
        

        marker_18caa3cda17044b48f33702751d4731c.bindPopup(popup_9c0d1d51eb5542089ec3faa341556a87)
        ;

        
    
    
            var marker_d5dd9c918dcc4beba1ab77090353efc3 = L.marker(
                [1.31126578637, 103.878130317],
                {}
            ).addTo(feature_group_86a2a8f3fbc6436cb30a72bc5d980fcc);
        
    
            var icon_aa2f8319ed6240ed8e336009a8223bef = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_d5dd9c918dcc4beba1ab77090353efc3.setIcon(icon_aa2f8319ed6240ed8e336009a8223bef);
        
    
        var popup_6a7f0d89d2d04211a202b9625e467748 = L.popup({"maxWidth": 300});

        
            var html_2c2862186e5d4b728825d7e089e25e98 = $(`<div id="html_2c2862186e5d4b728825d7e089e25e98" style="width: 100.0%; height: 100.0%;">#18, Feb-01<br>From: China, Wuhan<br>Profile: 31, Female<br>Visited: Home Suite View Hotel</div>`)[0];
            popup_6a7f0d89d2d04211a202b9625e467748.setContent(html_2c2862186e5d4b728825d7e089e25e98);
        

        marker_d5dd9c918dcc4beba1ab77090353efc3.bindPopup(popup_6a7f0d89d2d04211a202b9625e467748)
        ;

        
    
    
            var marker_05808cc24e5e483d84854f1fc2df7e5e = L.marker(
                [1.32152520963, 103.847638965],
                {}
            ).addTo(feature_group_86a2a8f3fbc6436cb30a72bc5d980fcc);
        
    
            var icon_dd59f05f1688417c857ee8144432b720 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_05808cc24e5e483d84854f1fc2df7e5e.setIcon(icon_dd59f05f1688417c857ee8144432b720);
        
    
        var popup_4d51b85029cb4ed9a7cd161bf3add560 = L.popup({"maxWidth": 300});

        
            var html_03fdd7e06a5942deac8823970343d2d5 = $(`<div id="html_03fdd7e06a5942deac8823970343d2d5" style="width: 100.0%; height: 100.0%;">#26, Feb-04<br>From: China, Wuhan<br>Profile: 42, Female<br>Visited: Unknown<br>Linked to: #13.0</div>`)[0];
            popup_4d51b85029cb4ed9a7cd161bf3add560.setContent(html_03fdd7e06a5942deac8823970343d2d5);
        

        marker_05808cc24e5e483d84854f1fc2df7e5e.bindPopup(popup_4d51b85029cb4ed9a7cd161bf3add560)
        ;

        
    
    
            var feature_group_609d97a1c3f141f4871d964c1a17409b = L.featureGroup(
                {}
            ).addTo(map_f64f26cba5a14d298b0b7cd2e154e98f);
        
    
            var marker_02be73332dc74210b52863a592a5f9f9 = L.marker(
                [1.3075996, 103.8585204],
                {}
            ).addTo(feature_group_609d97a1c3f141f4871d964c1a17409b);
        
    
            var icon_182428fb4e504d22a6624da375e65976 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_02be73332dc74210b52863a592a5f9f9.setIcon(icon_182428fb4e504d22a6624da375e65976);
        
    
        var popup_e248ffb546be4d5ea51da536b4b8f14c = L.popup({"maxWidth": 300});

        
            var html_d8071963cae04f3da2bd39ff6baeebce = $(`<div id="html_d8071963cae04f3da2bd39ff6baeebce" style="width: 100.0%; height: 100.0%;">#2, Jan-24<br>From: China, Wuhan<br>Profile: 53, Female<br>Visited: Tan Tock Seng Hospital, Raffles Hospital, Orchard Road, Marina Bay Sands, Gardens by the Bay<br>Status: recovered</div>`)[0];
            popup_e248ffb546be4d5ea51da536b4b8f14c.setContent(html_d8071963cae04f3da2bd39ff6baeebce);
        

        marker_02be73332dc74210b52863a592a5f9f9.bindPopup(popup_e248ffb546be4d5ea51da536b4b8f14c)
        ;

        
    
    
            var marker_58dc6abde3e944e9bc24dd5640cbafc6 = L.marker(
                [1.37177592217, 103.944834173],
                {}
            ).addTo(feature_group_609d97a1c3f141f4871d964c1a17409b);
        
    
            var icon_a5638441b6b04d879b0c2925cbbdc45b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_58dc6abde3e944e9bc24dd5640cbafc6.setIcon(icon_a5638441b6b04d879b0c2925cbbdc45b);
        
    
        var popup_1e1db143f11b4ec79f8977ea0ce5b64e = L.popup({"maxWidth": 300});

        
            var html_f1cbd1ff4868495691b836e1e1390c8f = $(`<div id="html_f1cbd1ff4868495691b836e1e1390c8f" style="width: 100.0%; height: 100.0%;">#6, Jan-27<br>From: China, Wuhan<br>Profile: 56, Male<br>Visited: Changi General Hospital<br>Status: recovered</div>`)[0];
            popup_1e1db143f11b4ec79f8977ea0ce5b64e.setContent(html_f1cbd1ff4868495691b836e1e1390c8f);
        

        marker_58dc6abde3e944e9bc24dd5640cbafc6.bindPopup(popup_1e1db143f11b4ec79f8977ea0ce5b64e)
        ;

        
    
    
            var layer_control_3c07034545d0441193d19f2b3cfafbf2 = {
                base_layers : {
                    "openstreetmap" : tile_layer_3cac668b81874a4dae8e718ef56b85bf,
                },
                overlays :  {
                    "\u003cspan style=\"color: red;\"\u003e23 infected\u003c/span\u003e" : feature_group_6deecd1593da4f35920a6d70b8859932,
                    "\u003cspan style=\"color: orange;\"\u003e15 imported\u003c/span\u003e" : feature_group_86a2a8f3fbc6436cb30a72bc5d980fcc,
                    "\u003cspan style=\"color: green;\"\u003e2 recovered\u003c/span\u003e" : feature_group_609d97a1c3f141f4871d964c1a17409b,
                },
            };
            L.control.layers(
                layer_control_3c07034545d0441193d19f2b3cfafbf2.base_layers,
                layer_control_3c07034545d0441193d19f2b3cfafbf2.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_f64f26cba5a14d298b0b7cd2e154e98f);
        
</script>