<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_aa98353954b14d8ca5d8c07c77aa51f4 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
        <title>Corona Viruses in Singapore</title>
    
    
     <div style="position: fixed; 
     bottom: 20px; right: 10px; width: 110px; height: 120px; 
     border:2px solid grey; z-index:9999; font-size:12px;">
     &nbsp; 2020 Feb 08 <br>
     &nbsp; <i class="fa fa-map-marker fa-2x"
                  style="color:orange"></i>&nbsp; imported<br>
     &nbsp; <i class="fa fa-map-marker fa-2x"
                  style="color:red"></i>&nbsp; infected<br>
     &nbsp; <i class="fa fa-map-marker fa-2x"
                  style="color:green"></i>&nbsp; recovered
      </div>
    
    
            <div class="folium-map" id="map_aa98353954b14d8ca5d8c07c77aa51f4" ></div>
        
</body>
<script>    
    
            var map_aa98353954b14d8ca5d8c07c77aa51f4 = L.map(
                "map_aa98353954b14d8ca5d8c07c77aa51f4",
                {
                    center: [1.36092, 103.832512],
                    crs: L.CRS.EPSG3857,
                    zoom: 11,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_4de6d63831464e798b28dd60c62f72c6 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_aa98353954b14d8ca5d8c07c77aa51f4);
        
    
            var feature_group_403d19cbfb6b45549b0914cd7b99233b = L.featureGroup(
                {}
            ).addTo(map_aa98353954b14d8ca5d8c07c77aa51f4);
        
    
            var marker_a78a7f5d6ab44aad85ac32666b68c795 = L.marker(
                [1.36281989482, 103.99087429],
                {}
            ).addTo(feature_group_403d19cbfb6b45549b0914cd7b99233b);
        
    
            var icon_67668ad91cbe461a99983c07a79df599 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_a78a7f5d6ab44aad85ac32666b68c795.setIcon(icon_67668ad91cbe461a99983c07a79df599);
        
    
        var popup_12c2f1460d7443e3a9d56ac9e116d14f = L.popup({"maxWidth": 300});

        
            var html_04ca266bba7146b39a6469b39f011269 = $(`<div id="html_04ca266bba7146b39a6469b39f011269" style="width: 100.0%; height: 100.0%;">#15, Jan-31<br>From: Singapore<br>Profile: 47, Female<br>Visited: China, Wuhan</div>`)[0];
            popup_12c2f1460d7443e3a9d56ac9e116d14f.setContent(html_04ca266bba7146b39a6469b39f011269);
        

        marker_a78a7f5d6ab44aad85ac32666b68c795.bindPopup(popup_12c2f1460d7443e3a9d56ac9e116d14f)
        ;

        
    
    
            var marker_535d1aa1b5914537a32b59e2910b8c9e = L.marker(
                [1.36270727391, 103.991131783],
                {}
            ).addTo(feature_group_403d19cbfb6b45549b0914cd7b99233b);
        
    
            var icon_34d3513067384025a52b334f42eb6418 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_535d1aa1b5914537a32b59e2910b8c9e.setIcon(icon_34d3513067384025a52b334f42eb6418);
        
    
        var popup_1fb03069e53244edb130cb832f8469fa = L.popup({"maxWidth": 300});

        
            var html_88dc40d1b12047baa1e64a7d0b271e7b = $(`<div id="html_88dc40d1b12047baa1e64a7d0b271e7b" style="width: 100.0%; height: 100.0%;">#17, Jan-31<br>From: Singapore<br>Profile: 47, Female<br>Visited: China, Wuhan<br>Linked to: #12</div>`)[0];
            popup_1fb03069e53244edb130cb832f8469fa.setContent(html_88dc40d1b12047baa1e64a7d0b271e7b);
        

        marker_535d1aa1b5914537a32b59e2910b8c9e.bindPopup(popup_1fb03069e53244edb130cb832f8469fa)
        ;

        
    
    
            var marker_f5871321c07844f785394fdeee2206cc = L.marker(
                [1.28475359094, 103.815278113],
                {}
            ).addTo(feature_group_403d19cbfb6b45549b0914cd7b99233b);
        
    
            var icon_c815a24c40e046b8a7973127b5c5ee7a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_f5871321c07844f785394fdeee2206cc.setIcon(icon_c815a24c40e046b8a7973127b5c5ee7a);
        
    
        var popup_b931ca9202c84598820acf137190cbb8 = L.popup({"maxWidth": 300});

        
            var html_77512a8a0a0c4b7d9e708a0b734f0730 = $(`<div id="html_77512a8a0a0c4b7d9e708a0b734f0730" style="width: 100.0%; height: 100.0%;">#19, Feb-04<br>From: Singapore<br>Profile: 28, Female<br>Visited: Singapore General Hospital, Tan Tock Seng Hospital, GP Clinic, Yong Thai Hang, Diamond Industries Jewellery, Meeting You Restaurant, Royal Dragon Restaurant, T Galleria by DFS, DResort @ Downtown East</div>`)[0];
            popup_b931ca9202c84598820acf137190cbb8.setContent(html_77512a8a0a0c4b7d9e708a0b734f0730);
        

        marker_f5871321c07844f785394fdeee2206cc.bindPopup(popup_b931ca9202c84598820acf137190cbb8)
        ;

        
    
    
            var marker_db3feea92a2647c6a6a6631fce506f86 = L.marker(
                [1.37476572624, 103.885970414],
                {}
            ).addTo(feature_group_403d19cbfb6b45549b0914cd7b99233b);
        
    
            var icon_b9f5fc9621a8437cbf8c547a2e2cd141 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_db3feea92a2647c6a6a6631fce506f86.setIcon(icon_b9f5fc9621a8437cbf8c547a2e2cd141);
        
    
        var popup_86e1cb291382452f8f8166ca83421a09 = L.popup({"maxWidth": 300});

        
            var html_65d51076c5924140a5b5ef46019a44ce = $(`<div id="html_65d51076c5924140a5b5ef46019a44ce" style="width: 100.0%; height: 100.0%;">#20, Feb-04<br>From: Singapore<br>Profile: 48, Female<br>Visited: Yong Thai Hang, Diamond Industries Jewellery, Meeting You Restaurant, Royal Dragon Restaurant, T Galleria by DFS, DResort @ Downtown East<br>Linked to: #19</div>`)[0];
            popup_86e1cb291382452f8f8166ca83421a09.setContent(html_65d51076c5924140a5b5ef46019a44ce);
        

        marker_db3feea92a2647c6a6a6631fce506f86.bindPopup(popup_86e1cb291382452f8f8166ca83421a09)
        ;

        
    
    
            var marker_27ff4eb750ba46b980e2024a675d0220 = L.marker(
                [1.28479917703, 103.815087676],
                {}
            ).addTo(feature_group_403d19cbfb6b45549b0914cd7b99233b);
        
    
            var icon_4be0df1228404d7197356703f39b8754 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_27ff4eb750ba46b980e2024a675d0220.setIcon(icon_4be0df1228404d7197356703f39b8754);
        
    
        var popup_8f3e8077cbdc4d0d9dd7be6c7a75d3ba = L.popup({"maxWidth": 300});

        
            var html_b42b9d2abb8d47d597282413519f55fa = $(`<div id="html_b42b9d2abb8d47d597282413519f55fa" style="width: 100.0%; height: 100.0%;">#21, Feb-04<br>From: Singapore<br>Profile: 44, Female<br>Visited: Singapore General Hospital, Yong Thai Hang, Diamond Industries Jewellery, Meeting You Restaurant, Royal Dragon Restaurant, T Galleria by DFS, DResort @ Downtown East<br>Linked to: #19</div>`)[0];
            popup_8f3e8077cbdc4d0d9dd7be6c7a75d3ba.setContent(html_b42b9d2abb8d47d597282413519f55fa);
        

        marker_27ff4eb750ba46b980e2024a675d0220.bindPopup(popup_8f3e8077cbdc4d0d9dd7be6c7a75d3ba)
        ;

        
    
    
            var marker_69dfee9941d94a47ab9e56d4a3b5f7ce = L.marker(
                [1.36292983428, 103.99122566],
                {}
            ).addTo(feature_group_403d19cbfb6b45549b0914cd7b99233b);
        
    
            var icon_7961eedee9de466fa4dc3a27c7b76d06 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_69dfee9941d94a47ab9e56d4a3b5f7ce.setIcon(icon_7961eedee9de466fa4dc3a27c7b76d06);
        
    
        var popup_8020ca7d76f9433f84fe921525e3d802 = L.popup({"maxWidth": 300});

        
            var html_501e9e6915d84fe5b1a2c529f7b7fb07 = $(`<div id="html_501e9e6915d84fe5b1a2c529f7b7fb07" style="width: 100.0%; height: 100.0%;">#22, Feb-04<br>From: Singapore<br>Profile: 41, Male<br>Visited: China, Wuhan</div>`)[0];
            popup_8020ca7d76f9433f84fe921525e3d802.setContent(html_501e9e6915d84fe5b1a2c529f7b7fb07);
        

        marker_69dfee9941d94a47ab9e56d4a3b5f7ce.bindPopup(popup_8020ca7d76f9433f84fe921525e3d802)
        ;

        
    
    
            var marker_0b81f8f5e109451aae8b1c49d2f3bd6b = L.marker(
                [1.36307195114, 103.990965486],
                {}
            ).addTo(feature_group_403d19cbfb6b45549b0914cd7b99233b);
        
    
            var icon_ef3f3611d949439f832465188b58c2ab = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_0b81f8f5e109451aae8b1c49d2f3bd6b.setIcon(icon_ef3f3611d949439f832465188b58c2ab);
        
    
        var popup_e0aa2bd341144a5595e319d3670beaf2 = L.popup({"maxWidth": 300});

        
            var html_441f5178c34c4847a9ea1836cf02db9f = $(`<div id="html_441f5178c34c4847a9ea1836cf02db9f" style="width: 100.0%; height: 100.0%;">#23, Feb-04<br>From: Singapore<br>Profile: 17, Male<br>Visited: China, Wuhan</div>`)[0];
            popup_e0aa2bd341144a5595e319d3670beaf2.setContent(html_441f5178c34c4847a9ea1836cf02db9f);
        

        marker_0b81f8f5e109451aae8b1c49d2f3bd6b.bindPopup(popup_e0aa2bd341144a5595e319d3670beaf2)
        ;

        
    
    
            var marker_d2c8f749e983431ea071403f3c264d36 = L.marker(
                [1.3793195, 103.8826748],
                {}
            ).addTo(feature_group_403d19cbfb6b45549b0914cd7b99233b);
        
    
            var icon_2b21d41f2b4f470e90fe0498a24ac047 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_d2c8f749e983431ea071403f3c264d36.setIcon(icon_2b21d41f2b4f470e90fe0498a24ac047);
        
    
        var popup_5a2956cec6b546fdaae22984fdbdbcae = L.popup({"maxWidth": 300});

        
            var html_a7c6aa5bf0124f81ab083044d849a6c4 = $(`<div id="html_a7c6aa5bf0124f81ab083044d849a6c4" style="width: 100.0%; height: 100.0%;">#24, Feb-04<br>From: Singapore<br>Profile: 32, Female<br>Visited: Yong Thai Hang, Jalan Besar, Hougang Polyclinic, Diamond Industries Jewellery, Meeting You Restaurant, Royal Dragon Restaurant, T Galleria by DFS, DResort @ Downtown East<br>Linked to: #19</div>`)[0];
            popup_5a2956cec6b546fdaae22984fdbdbcae.setContent(html_a7c6aa5bf0124f81ab083044d849a6c4);
        

        marker_d2c8f749e983431ea071403f3c264d36.bindPopup(popup_5a2956cec6b546fdaae22984fdbdbcae)
        ;

        
    
    
            var marker_840f2c83fc2f453badd50b6852dd1ed8 = L.marker(
                [1.37916596021, 103.882692754],
                {}
            ).addTo(feature_group_403d19cbfb6b45549b0914cd7b99233b);
        
    
            var icon_d9fa9abfe5cb4192bd2036a6969c5241 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_840f2c83fc2f453badd50b6852dd1ed8.setIcon(icon_d9fa9abfe5cb4192bd2036a6969c5241);
        
    
        var popup_4f8d3ced958c41dc8c79eac14a44e41a = L.popup({"maxWidth": 300});

        
            var html_3a024f2e85614103877f655c07c05943 = $(`<div id="html_3a024f2e85614103877f655c07c05943" style="width: 100.0%; height: 100.0%;">#25, Feb-04<br>From: Singapore<br>Profile: 32, Male<br>Visited: Hougang Polyclinic, Pasir Panjang Hawker Centre, Diamond Industries Jewellery Company, Yong Thai Hang, Meeting You Restaurant, Royal Dragon Restaurant, T Galleria by DFS, DResort @ Downtown East<br>Linked to: #24</div>`)[0];
            popup_4f8d3ced958c41dc8c79eac14a44e41a.setContent(html_3a024f2e85614103877f655c07c05943);
        

        marker_840f2c83fc2f453badd50b6852dd1ed8.bindPopup(popup_4f8d3ced958c41dc8c79eac14a44e41a)
        ;

        
    
    
            var marker_ddf6f9b9094b4427b57c47af5426b738 = L.marker(
                [1.28465705569, 103.815594614],
                {}
            ).addTo(feature_group_403d19cbfb6b45549b0914cd7b99233b);
        
    
            var icon_19291abe14764b639f316f03aec2a9ff = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_ddf6f9b9094b4427b57c47af5426b738.setIcon(icon_19291abe14764b639f316f03aec2a9ff);
        
    
        var popup_f5ac9a1648c84242be0a0b60341e4599 = L.popup({"maxWidth": 300});

        
            var html_bf74591893d2427fb8fc364eb5bfb121 = $(`<div id="html_bf74591893d2427fb8fc364eb5bfb121" style="width: 100.0%; height: 100.0%;">#27, Feb-05<br>From: Singapore<br>Profile: 45, Male<br>Visited: Yong Thai Hang, Diamond Industries Jewellery, Meeting You Restaurant, Royal Dragon Restaurant, T Galleria by DFS, DResort @ Downtown East<br>Linked to: #19</div>`)[0];
            popup_f5ac9a1648c84242be0a0b60341e4599.setContent(html_bf74591893d2427fb8fc364eb5bfb121);
        

        marker_ddf6f9b9094b4427b57c47af5426b738.bindPopup(popup_f5ac9a1648c84242be0a0b60341e4599)
        ;

        
    
    
            var marker_9fab96024e1e49e4868e78c4f5b8599e = L.marker(
                [1.28469996024, 103.815433681],
                {}
            ).addTo(feature_group_403d19cbfb6b45549b0914cd7b99233b);
        
    
            var icon_0b8f9e0657f747f69d9d7dfe48ac1ec3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_9fab96024e1e49e4868e78c4f5b8599e.setIcon(icon_0b8f9e0657f747f69d9d7dfe48ac1ec3);
        
    
        var popup_6b3cf650bced40cc8ab062fa0ff04de9 = L.popup({"maxWidth": 300});

        
            var html_4e849b380f954f6fb42aa5553c94bce2 = $(`<div id="html_4e849b380f954f6fb42aa5553c94bce2" style="width: 100.0%; height: 100.0%;">#28, Feb-05<br>From: Singapore<br>Profile: 0, Male<br>Visited: KK Womens and Childrens Hospital, Yong Thai Hang, Diamond Industries Jewellery, Meeting You Restaurant, Royal Dragon Restaurant, T Galleria by DFS, DResort @ Downtown East<br>Linked to: #27</div>`)[0];
            popup_6b3cf650bced40cc8ab062fa0ff04de9.setContent(html_4e849b380f954f6fb42aa5553c94bce2);
        

        marker_9fab96024e1e49e4868e78c4f5b8599e.bindPopup(popup_6b3cf650bced40cc8ab062fa0ff04de9)
        ;

        
    
    
            var marker_e74c11680942409fbdc1a7d116dd0a30 = L.marker(
                [1.322274, 103.844135],
                {}
            ).addTo(feature_group_403d19cbfb6b45549b0914cd7b99233b);
        
    
            var icon_671d0ab407c7491e8effc6cf1cd433bd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_e74c11680942409fbdc1a7d116dd0a30.setIcon(icon_671d0ab407c7491e8effc6cf1cd433bd);
        
    
        var popup_cbb0ca39d5f24a3d911748fbc10d3c03 = L.popup({"maxWidth": 300});

        
            var html_874e89fd4a46421b9d7a15451a919c38 = $(`<div id="html_874e89fd4a46421b9d7a15451a919c38" style="width: 100.0%; height: 100.0%;">#29, Feb-06<br>From: Singapore<br>Profile: 41, Male<br>Visited: Mount Elizabeth Novena Hospital, GP Clinic</div>`)[0];
            popup_cbb0ca39d5f24a3d911748fbc10d3c03.setContent(html_874e89fd4a46421b9d7a15451a919c38);
        

        marker_e74c11680942409fbdc1a7d116dd0a30.bindPopup(popup_cbb0ca39d5f24a3d911748fbc10d3c03)
        ;

        
    
    
            var marker_db8daf86b9004c979f5ccb78e6af3648 = L.marker(
                [1.30645, 103.833184],
                {}
            ).addTo(feature_group_403d19cbfb6b45549b0914cd7b99233b);
        
    
            var icon_2179684df0e04b9f8fa590371d8d8af2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_db8daf86b9004c979f5ccb78e6af3648.setIcon(icon_2179684df0e04b9f8fa590371d8d8af2);
        
    
        var popup_513916ce9bfc44f7ba815ecdf92b49b4 = L.popup({"maxWidth": 300});

        
            var html_fa3dba5fb60a4731928cba81bb798d39 = $(`<div id="html_fa3dba5fb60a4731928cba81bb798d39" style="width: 100.0%; height: 100.0%;">#30, Feb-06<br>From: Singapore<br>Profile: 27, Male<br>Visited: Grand Hyatt Singapore Hotel</div>`)[0];
            popup_513916ce9bfc44f7ba815ecdf92b49b4.setContent(html_fa3dba5fb60a4731928cba81bb798d39);
        

        marker_db8daf86b9004c979f5ccb78e6af3648.bindPopup(popup_513916ce9bfc44f7ba815ecdf92b49b4)
        ;

        
    
    
            var marker_a4e7d4fd7e8e462bacc649916bb0c71e = L.marker(
                [1.355457, 103.951563],
                {}
            ).addTo(feature_group_403d19cbfb6b45549b0914cd7b99233b);
        
    
            var icon_9704565a59e84dae8794a64bae85ab47 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_a4e7d4fd7e8e462bacc649916bb0c71e.setIcon(icon_9704565a59e84dae8794a64bae85ab47);
        
    
        var popup_091908a00ddc4ffd8895e5e414ecf837 = L.popup({"maxWidth": 300});

        
            var html_f34a7b7d09404f9688df3670f8af4103 = $(`<div id="html_f34a7b7d09404f9688df3670f8af4103" style="width: 100.0%; height: 100.0%;">#31, Feb-07<br>From: Singapore<br>Profile: 53, Male<br>Visited: The Life Church, Missions Singapore</div>`)[0];
            popup_091908a00ddc4ffd8895e5e414ecf837.setContent(html_f34a7b7d09404f9688df3670f8af4103);
        

        marker_a4e7d4fd7e8e462bacc649916bb0c71e.bindPopup(popup_091908a00ddc4ffd8895e5e414ecf837)
        ;

        
    
    
            var marker_c6601cb6315c4882b275663e6b84c1eb = L.marker(
                [1.378105, 103.94172],
                {}
            ).addTo(feature_group_403d19cbfb6b45549b0914cd7b99233b);
        
    
            var icon_bb76f25c79b14489acd66d8f899fe304 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_c6601cb6315c4882b275663e6b84c1eb.setIcon(icon_bb76f25c79b14489acd66d8f899fe304);
        
    
        var popup_081a40f8b4b941c688738333e6366e86 = L.popup({"maxWidth": 300});

        
            var html_601672fe7d0b41c18da7d2d55190c9f9 = $(`<div id="html_601672fe7d0b41c18da7d2d55190c9f9" style="width: 100.0%; height: 100.0%;">#32, Feb-07<br>From: Singapore<br>Profile: 42, Female<br>Visited: Victoria Junior College, Parkway East Hospital, Changi Airport, Singapore Zoo</div>`)[0];
            popup_081a40f8b4b941c688738333e6366e86.setContent(html_601672fe7d0b41c18da7d2d55190c9f9);
        

        marker_c6601cb6315c4882b275663e6b84c1eb.bindPopup(popup_081a40f8b4b941c688738333e6366e86)
        ;

        
    
    
            var marker_3a6ea38e8218423884c0c94d949f897e = L.marker(
                [1.392699, 103.894414],
                {}
            ).addTo(feature_group_403d19cbfb6b45549b0914cd7b99233b);
        
    
            var icon_9ba62f0d19f3407796306fb718d4f0b0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_3a6ea38e8218423884c0c94d949f897e.setIcon(icon_9ba62f0d19f3407796306fb718d4f0b0);
        
    
        var popup_b1966e3d313a4895a1a3d738e7f739dc = L.popup({"maxWidth": 300});

        
            var html_39d72b79b56f45d5a8b53c070f2dd2b9 = $(`<div id="html_39d72b79b56f45d5a8b53c070f2dd2b9" style="width: 100.0%; height: 100.0%;">#33, Feb-07<br>From: Singapore<br>Profile: 39, Female<br>Visited: Sengkang Polyclinic</div>`)[0];
            popup_b1966e3d313a4895a1a3d738e7f739dc.setContent(html_39d72b79b56f45d5a8b53c070f2dd2b9);
        

        marker_3a6ea38e8218423884c0c94d949f897e.bindPopup(popup_b1966e3d313a4895a1a3d738e7f739dc)
        ;

        
    
    
            var feature_group_edc47e6ba8d740099808b109366d496a = L.featureGroup(
                {}
            ).addTo(map_aa98353954b14d8ca5d8c07c77aa51f4);
        
    
            var marker_4987a00d604d407b8d2abcc6358e43d8 = L.marker(
                [1.2577323, 103.8097962],
                {}
            ).addTo(feature_group_edc47e6ba8d740099808b109366d496a);
        
    
            var icon_7f6a6031ee5a48dc9de753907670fd82 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_4987a00d604d407b8d2abcc6358e43d8.setIcon(icon_7f6a6031ee5a48dc9de753907670fd82);
        
    
        var popup_2a27af58c0f04126a1cc3a62900910f7 = L.popup({"maxWidth": 300});

        
            var html_f46683b7a19d44c9b156e24cdd6517a3 = $(`<div id="html_f46683b7a19d44c9b156e24cdd6517a3" style="width: 100.0%; height: 100.0%;">#1, Jan-23<br>From: China, Wuhan<br>Profile: 66, Male<br>Visited: Singapore General Hospital</div>`)[0];
            popup_2a27af58c0f04126a1cc3a62900910f7.setContent(html_f46683b7a19d44c9b156e24cdd6517a3);
        

        marker_4987a00d604d407b8d2abcc6358e43d8.bindPopup(popup_2a27af58c0f04126a1cc3a62900910f7)
        ;

        
    
    
            var marker_96d75c8f7353481c92a12365117d22bf = L.marker(
                [1.257763, 103.810018],
                {}
            ).addTo(feature_group_edc47e6ba8d740099808b109366d496a);
        
    
            var icon_cc7de964366846a3a53b1367f9e94a81 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_96d75c8f7353481c92a12365117d22bf.setIcon(icon_cc7de964366846a3a53b1367f9e94a81);
        
    
        var popup_e6333acafffb41d19c41d9072ad27fc3 = L.popup({"maxWidth": 300});

        
            var html_474339fd6df24a14a0b589e87f0a3918 = $(`<div id="html_474339fd6df24a14a0b589e87f0a3918" style="width: 100.0%; height: 100.0%;">#3, Jan-24<br>From: China, Wuhan<br>Profile: 37, Male<br>Visited: Singapore General Hospital<br>Linked to: #1</div>`)[0];
            popup_e6333acafffb41d19c41d9072ad27fc3.setContent(html_474339fd6df24a14a0b589e87f0a3918);
        

        marker_96d75c8f7353481c92a12365117d22bf.bindPopup(popup_e6333acafffb41d19c41d9072ad27fc3)
        ;

        
    
    
            var marker_0ea18033daef4199837a48998ecc4868 = L.marker(
                [1.25212715122, 103.820006847],
                {}
            ).addTo(feature_group_edc47e6ba8d740099808b109366d496a);
        
    
            var icon_088912d110914dd3bb1a2693fa2eb3a9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_0ea18033daef4199837a48998ecc4868.setIcon(icon_088912d110914dd3bb1a2693fa2eb3a9);
        
    
        var popup_c315bacd414148a3a138bb14174d2a87 = L.popup({"maxWidth": 300});

        
            var html_314132223b824b539d6c1c78fa2756c3 = $(`<div id="html_314132223b824b539d6c1c78fa2756c3" style="width: 100.0%; height: 100.0%;">#4, Jan-25<br>From: China, Wuhan<br>Profile: 36, Male<br>Visited: Sengkang General Hospital, Universal Studios Singapore, Vivocity</div>`)[0];
            popup_c315bacd414148a3a138bb14174d2a87.setContent(html_314132223b824b539d6c1c78fa2756c3);
        

        marker_0ea18033daef4199837a48998ecc4868.bindPopup(popup_c315bacd414148a3a138bb14174d2a87)
        ;

        
    
    
            var marker_93ab9e339d5e46628f97ad34edeeb8b9 = L.marker(
                [1.30817132582, 103.900929093],
                {}
            ).addTo(feature_group_edc47e6ba8d740099808b109366d496a);
        
    
            var icon_b18075f15b85426d986f7f778b52087b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_93ab9e339d5e46628f97ad34edeeb8b9.setIcon(icon_b18075f15b85426d986f7f778b52087b);
        
    
        var popup_e55f92fb3d154cafa780983fb2c7df9a = L.popup({"maxWidth": 300});

        
            var html_9c73bb6a39694db8a143b39ca0e474c1 = $(`<div id="html_9c73bb6a39694db8a143b39ca0e474c1" style="width: 100.0%; height: 100.0%;">#5, Jan-27<br>From: China, Wuhan<br>Profile: 56, Female<br>Visited: Tan Tock Seng Hospital</div>`)[0];
            popup_e55f92fb3d154cafa780983fb2c7df9a.setContent(html_9c73bb6a39694db8a143b39ca0e474c1);
        

        marker_93ab9e339d5e46628f97ad34edeeb8b9.bindPopup(popup_e55f92fb3d154cafa780983fb2c7df9a)
        ;

        
    
    
            var marker_58a2cba382d649429b922fd5dfcc41d8 = L.marker(
                [1.28330824331, 103.860577941],
                {}
            ).addTo(feature_group_edc47e6ba8d740099808b109366d496a);
        
    
            var icon_3457c4fe40344ad4860e74c8891070df = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_58a2cba382d649429b922fd5dfcc41d8.setIcon(icon_3457c4fe40344ad4860e74c8891070df);
        
    
        var popup_cefae26622904cf89775d05f3387d86d = L.popup({"maxWidth": 300});

        
            var html_68604e8386b44d7eb6d7c5c3ccd0a054 = $(`<div id="html_68604e8386b44d7eb6d7c5c3ccd0a054" style="width: 100.0%; height: 100.0%;">#7, Jan-27<br>From: China, Wuhan<br>Profile: 35, Male<br>Visited: Raffles Hospital</div>`)[0];
            popup_cefae26622904cf89775d05f3387d86d.setContent(html_68604e8386b44d7eb6d7c5c3ccd0a054);
        

        marker_58a2cba382d649429b922fd5dfcc41d8.bindPopup(popup_cefae26622904cf89775d05f3387d86d)
        ;

        
    
    
            var marker_7446eec46b5c4b9b8451bc39cc4de94b = L.marker(
                [1.350104424, 103.877644837],
                {}
            ).addTo(feature_group_edc47e6ba8d740099808b109366d496a);
        
    
            var icon_453514402f324a0e93f6fd1bae22a459 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_7446eec46b5c4b9b8451bc39cc4de94b.setIcon(icon_453514402f324a0e93f6fd1bae22a459);
        
    
        var popup_522154d544c64cc29028ca53b00abf07 = L.popup({"maxWidth": 300});

        
            var html_925ec903cf304d798b8da73753777bd9 = $(`<div id="html_925ec903cf304d798b8da73753777bd9" style="width: 100.0%; height: 100.0%;">#8, Jan-28<br>From: China, Wuhan<br>Profile: 56, Male<br>Visited: Tan Tock Seng Hospital</div>`)[0];
            popup_522154d544c64cc29028ca53b00abf07.setContent(html_925ec903cf304d798b8da73753777bd9);
        

        marker_7446eec46b5c4b9b8451bc39cc4de94b.bindPopup(popup_522154d544c64cc29028ca53b00abf07)
        ;

        
    
    
            var marker_b0bc160bdb08460f85d5e11d126933af = L.marker(
                [1.35016073475, 103.877567053],
                {}
            ).addTo(feature_group_edc47e6ba8d740099808b109366d496a);
        
    
            var icon_a58ced941fa84b3b8c7aa0a59fc34c00 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_b0bc160bdb08460f85d5e11d126933af.setIcon(icon_a58ced941fa84b3b8c7aa0a59fc34c00);
        
    
        var popup_66bf81daaa0e4582b24c63028fe55d21 = L.popup({"maxWidth": 300});

        
            var html_d6ed1980ef604992acaed7fa3feb4018 = $(`<div id="html_d6ed1980ef604992acaed7fa3feb4018" style="width: 100.0%; height: 100.0%;">#9, Jan-29<br>From: China, Wuhan<br>Profile: 56, Female<br>Visited: Tan Tock Seng Hospital</div>`)[0];
            popup_66bf81daaa0e4582b24c63028fe55d21.setContent(html_d6ed1980ef604992acaed7fa3feb4018);
        

        marker_b0bc160bdb08460f85d5e11d126933af.bindPopup(popup_66bf81daaa0e4582b24c63028fe55d21)
        ;

        
    
    
            var marker_67468abaf09c4ac0bd4bd9a14aa189cd = L.marker(
                [1.2707012, 103.8631688],
                {}
            ).addTo(feature_group_edc47e6ba8d740099808b109366d496a);
        
    
            var icon_4f2bfc9791b04e78b6b9250b0ee62ec7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_67468abaf09c4ac0bd4bd9a14aa189cd.setIcon(icon_4f2bfc9791b04e78b6b9250b0ee62ec7);
        
    
        var popup_7755e684f5a647d6851a0c4cf76b52a0 = L.popup({"maxWidth": 300});

        
            var html_7e9cbe31d6144c4fac4c1fcaccd6d252 = $(`<div id="html_7e9cbe31d6144c4fac4c1fcaccd6d252" style="width: 100.0%; height: 100.0%;">#10, Jan-29<br>From: China, Wuhan<br>Profile: 56, Male<br>Visited: Marina South Pier<br>Linked to: #4</div>`)[0];
            popup_7755e684f5a647d6851a0c4cf76b52a0.setContent(html_7e9cbe31d6144c4fac4c1fcaccd6d252);
        

        marker_67468abaf09c4ac0bd4bd9a14aa189cd.bindPopup(popup_7755e684f5a647d6851a0c4cf76b52a0)
        ;

        
    
    
            var marker_463bb1adfcb946f7a5052a0dac112e2f = L.marker(
                [1.25210033554, 103.820199966],
                {}
            ).addTo(feature_group_edc47e6ba8d740099808b109366d496a);
        
    
            var icon_e3a8e68814e6428884031fb2479b2cbd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_463bb1adfcb946f7a5052a0dac112e2f.setIcon(icon_e3a8e68814e6428884031fb2479b2cbd);
        
    
        var popup_95ac84dfe2f24a7ababc361e75fa60ff = L.popup({"maxWidth": 300});

        
            var html_e459dcb70a7b414299233951a0a91771 = $(`<div id="html_e459dcb70a7b414299233951a0a91771" style="width: 100.0%; height: 100.0%;">#11, Jan-29<br>From: China, Wuhan<br>Profile: 31, Female<br>Visited: Sengkang General Hospital, Universal Studios Singapore, Vivocity</div>`)[0];
            popup_95ac84dfe2f24a7ababc361e75fa60ff.setContent(html_e459dcb70a7b414299233951a0a91771);
        

        marker_463bb1adfcb946f7a5052a0dac112e2f.bindPopup(popup_95ac84dfe2f24a7ababc361e75fa60ff)
        ;

        
    
    
            var marker_51968abc5b1543bf9a3baec7df2f26ac = L.marker(
                [1.25212715122, 103.819829822],
                {}
            ).addTo(feature_group_edc47e6ba8d740099808b109366d496a);
        
    
            var icon_42ad88302afb427fae6eae04408e2864 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_51968abc5b1543bf9a3baec7df2f26ac.setIcon(icon_42ad88302afb427fae6eae04408e2864);
        
    
        var popup_9e09e5220d174e64ae211f7b571df8eb = L.popup({"maxWidth": 300});

        
            var html_4ac30923aa8040cd967219f819c7ea93 = $(`<div id="html_4ac30923aa8040cd967219f819c7ea93" style="width: 100.0%; height: 100.0%;">#12, Jan-29<br>From: China, Wuhan<br>Profile: 37, Female<br>Visited: Orchard Road, Geylang</div>`)[0];
            popup_9e09e5220d174e64ae211f7b571df8eb.setContent(html_4ac30923aa8040cd967219f819c7ea93);
        

        marker_51968abc5b1543bf9a3baec7df2f26ac.bindPopup(popup_9e09e5220d174e64ae211f7b571df8eb)
        ;

        
    
    
            var marker_f6b2d7f566af49b8a25872386e85dd13 = L.marker(
                [1.28549101288, 103.846496344],
                {}
            ).addTo(feature_group_edc47e6ba8d740099808b109366d496a);
        
    
            var icon_49355b81d2ff42218e30106295a5e8c6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_f6b2d7f566af49b8a25872386e85dd13.setIcon(icon_49355b81d2ff42218e30106295a5e8c6);
        
    
        var popup_42acf382877f49a0a6e3ce42e9d37e8a = L.popup({"maxWidth": 300});

        
            var html_eeeb769e5c354656bb0193b6fd86e5c8 = $(`<div id="html_eeeb769e5c354656bb0193b6fd86e5c8" style="width: 100.0%; height: 100.0%;">#13, Jan-30<br>From: China, Wuhan<br>Profile: 73, Female<br>Visited:  Changi Airport, Jewel</div>`)[0];
            popup_42acf382877f49a0a6e3ce42e9d37e8a.setContent(html_eeeb769e5c354656bb0193b6fd86e5c8);
        

        marker_f6b2d7f566af49b8a25872386e85dd13.bindPopup(popup_42acf382877f49a0a6e3ce42e9d37e8a)
        ;

        
    
    
            var marker_fe7b892201914c6f8bef54d6757bd66b = L.marker(
                [1.33608300636, 103.737467229],
                {}
            ).addTo(feature_group_edc47e6ba8d740099808b109366d496a);
        
    
            var icon_44cd4cd92fe84a6a890855f664f71a2b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_fe7b892201914c6f8bef54d6757bd66b.setIcon(icon_44cd4cd92fe84a6a890855f664f71a2b);
        
    
        var popup_6d5743dba675475eb1f64716cdc4a1c9 = L.popup({"maxWidth": 300});

        
            var html_8a0b494085d545088769ef4e32fae656 = $(`<div id="html_8a0b494085d545088769ef4e32fae656" style="width: 100.0%; height: 100.0%;">#14, Jan-30<br>From: China, Hubei<br>Profile: 31, Male<br>Visited: GP Clinic</div>`)[0];
            popup_6d5743dba675475eb1f64716cdc4a1c9.setContent(html_8a0b494085d545088769ef4e32fae656);
        

        marker_fe7b892201914c6f8bef54d6757bd66b.bindPopup(popup_6d5743dba675475eb1f64716cdc4a1c9)
        ;

        
    
    
            var marker_2611471b085d4385a158fce907642930 = L.marker(
                [1.2962606, 103.8256719],
                {}
            ).addTo(feature_group_edc47e6ba8d740099808b109366d496a);
        
    
            var icon_d6fcbb673eb84b4983bd3b3c4f26c22b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_2611471b085d4385a158fce907642930.setIcon(icon_d6fcbb673eb84b4983bd3b3c4f26c22b);
        
    
        var popup_033e8fd811484cd78bba4de190c3b7c2 = L.popup({"maxWidth": 300});

        
            var html_0866b28e9a7540a5a0a278811adc518e = $(`<div id="html_0866b28e9a7540a5a0a278811adc518e" style="width: 100.0%; height: 100.0%;">#16, Jan-31<br>From: China, Hubei<br>Profile: 38, Male<br>Visited: Singapore General Hospital</div>`)[0];
            popup_033e8fd811484cd78bba4de190c3b7c2.setContent(html_0866b28e9a7540a5a0a278811adc518e);
        

        marker_2611471b085d4385a158fce907642930.bindPopup(popup_033e8fd811484cd78bba4de190c3b7c2)
        ;

        
    
    
            var marker_dbadf3251f6e4a19bc60d3b624e8247b = L.marker(
                [1.31126578637, 103.878130317],
                {}
            ).addTo(feature_group_edc47e6ba8d740099808b109366d496a);
        
    
            var icon_91a642077a61467ba7ac902358c797a9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_dbadf3251f6e4a19bc60d3b624e8247b.setIcon(icon_91a642077a61467ba7ac902358c797a9);
        
    
        var popup_b1747e8ff4f544d99e795545ce94f2c6 = L.popup({"maxWidth": 300});

        
            var html_ff37b70338ba4a85a7bfae5c7f4be4fc = $(`<div id="html_ff37b70338ba4a85a7bfae5c7f4be4fc" style="width: 100.0%; height: 100.0%;">#18, Feb-01<br>From: China, Wuhan<br>Profile: 31, Female<br>Visited: Home Suite View Hotel</div>`)[0];
            popup_b1747e8ff4f544d99e795545ce94f2c6.setContent(html_ff37b70338ba4a85a7bfae5c7f4be4fc);
        

        marker_dbadf3251f6e4a19bc60d3b624e8247b.bindPopup(popup_b1747e8ff4f544d99e795545ce94f2c6)
        ;

        
    
    
            var marker_2cf9f3527ea64f1a8af3366eddb0a395 = L.marker(
                [1.32152520963, 103.847638965],
                {}
            ).addTo(feature_group_edc47e6ba8d740099808b109366d496a);
        
    
            var icon_b070fdfe68354cc2a3ed00e6d1e35ae2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_2cf9f3527ea64f1a8af3366eddb0a395.setIcon(icon_b070fdfe68354cc2a3ed00e6d1e35ae2);
        
    
        var popup_7352ffb338de49aa985338799c315a26 = L.popup({"maxWidth": 300});

        
            var html_43d5ccac76304097ab89cd3efbc0e917 = $(`<div id="html_43d5ccac76304097ab89cd3efbc0e917" style="width: 100.0%; height: 100.0%;">#26, Feb-04<br>From: China, Wuhan<br>Profile: 42, Female<br>Visited: Unknown<br>Linked to: #13</div>`)[0];
            popup_7352ffb338de49aa985338799c315a26.setContent(html_43d5ccac76304097ab89cd3efbc0e917);
        

        marker_2cf9f3527ea64f1a8af3366eddb0a395.bindPopup(popup_7352ffb338de49aa985338799c315a26)
        ;

        
    
    
            var feature_group_2f228ab6c555478a87e8f377e1ddf866 = L.featureGroup(
                {}
            ).addTo(map_aa98353954b14d8ca5d8c07c77aa51f4);
        
    
            var marker_d31e4411d55a484e9cd1260c7bfc3485 = L.marker(
                [1.3075996, 103.8585204],
                {}
            ).addTo(feature_group_2f228ab6c555478a87e8f377e1ddf866);
        
    
            var icon_f7bd3246e0214fbab600083ff9870530 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_d31e4411d55a484e9cd1260c7bfc3485.setIcon(icon_f7bd3246e0214fbab600083ff9870530);
        
    
        var popup_98431b8ed5ab4e69b995ba1cb0e15b55 = L.popup({"maxWidth": 300});

        
            var html_41fad9125a0844ad909b3ad5dde25926 = $(`<div id="html_41fad9125a0844ad909b3ad5dde25926" style="width: 100.0%; height: 100.0%;">#2, Jan-24<br>From: China, Wuhan<br>Profile: 53, Female<br>Visited: Tan Tock Seng Hospital, Raffles Hospital, Orchard Road, Marina Bay Sands, Gardens by the Bay<br>Status: recovered</div>`)[0];
            popup_98431b8ed5ab4e69b995ba1cb0e15b55.setContent(html_41fad9125a0844ad909b3ad5dde25926);
        

        marker_d31e4411d55a484e9cd1260c7bfc3485.bindPopup(popup_98431b8ed5ab4e69b995ba1cb0e15b55)
        ;

        
    
    
            var marker_d6da1ab790ca445e9f753b57f88a51b1 = L.marker(
                [1.37177592217, 103.944834173],
                {}
            ).addTo(feature_group_2f228ab6c555478a87e8f377e1ddf866);
        
    
            var icon_f3a580c8d165456aa31b74149806d5b3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_d6da1ab790ca445e9f753b57f88a51b1.setIcon(icon_f3a580c8d165456aa31b74149806d5b3);
        
    
        var popup_7b40ce88aec641b68eaa9043aaadbad4 = L.popup({"maxWidth": 300});

        
            var html_655a2d6eaa8642259e67728e8219d691 = $(`<div id="html_655a2d6eaa8642259e67728e8219d691" style="width: 100.0%; height: 100.0%;">#6, Jan-27<br>From: China, Wuhan<br>Profile: 56, Male<br>Visited: Changi General Hospital<br>Status: recovered</div>`)[0];
            popup_7b40ce88aec641b68eaa9043aaadbad4.setContent(html_655a2d6eaa8642259e67728e8219d691);
        

        marker_d6da1ab790ca445e9f753b57f88a51b1.bindPopup(popup_7b40ce88aec641b68eaa9043aaadbad4)
        ;

        
    
    
            var layer_control_681ac90e55ee4729b1c03c6a691b2924 = {
                base_layers : {
                    "openstreetmap" : tile_layer_4de6d63831464e798b28dd60c62f72c6,
                },
                overlays :  {
                    "\u003cspan style=\"color: red;\"\u003e16 infected\u003c/span\u003e" : feature_group_403d19cbfb6b45549b0914cd7b99233b,
                    "\u003cspan style=\"color: orange;\"\u003e15 imported\u003c/span\u003e" : feature_group_edc47e6ba8d740099808b109366d496a,
                    "\u003cspan style=\"color: green;\"\u003e2 recovered\u003c/span\u003e" : feature_group_2f228ab6c555478a87e8f377e1ddf866,
                },
            };
            L.control.layers(
                layer_control_681ac90e55ee4729b1c03c6a691b2924.base_layers,
                layer_control_681ac90e55ee4729b1c03c6a691b2924.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_aa98353954b14d8ca5d8c07c77aa51f4);
        
</script>