<!DOCTYPE html>
<head>
    <title>Corona Viruses in Singapore</title>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_44298c53706f4fbbbe094a749fad0569 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_44298c53706f4fbbbe094a749fad0569" ></div>
        
</body>
<script>    
    
            var map_44298c53706f4fbbbe094a749fad0569 = L.map(
                "map_44298c53706f4fbbbe094a749fad0569",
                {
                    center: [1.36092, 103.832512],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_3ad21362648c4b2aa1d386c2d08fa5e2 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_44298c53706f4fbbbe094a749fad0569);
        
    
            var marker_17a2cf7c329e48759d2160a8b5fded61 = L.marker(
                [1.2577323, 103.8097962],
                {}
            ).addTo(map_44298c53706f4fbbbe094a749fad0569);
        
    
            var icon_05e071af650a44cd93dbb2dd95fcf623 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_17a2cf7c329e48759d2160a8b5fded61.setIcon(icon_05e071af650a44cd93dbb2dd95fcf623);
        
    
        var popup_3148bc2872b54342b18b51980fa20e32 = L.popup({"maxWidth": "100%"});

        
            var i_frame_92c07740b38b4c71acfe45ec57c7d867 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAjMSwgSmFuLTIzPGJyPkZyb206IENoaW5hLCBXdWhhbjxicj5Qcm9maWxlOiA2NiwgTWFsZTxicj5WaXNpdGVkOiBTaW5nYXBvcmUgR2VuZXJhbCBIb3NwaXRhbA==" width="300" style="border:none !important;" height="100"></iframe>`)[0];
            popup_3148bc2872b54342b18b51980fa20e32.setContent(i_frame_92c07740b38b4c71acfe45ec57c7d867);
        

        marker_17a2cf7c329e48759d2160a8b5fded61.bindPopup(popup_3148bc2872b54342b18b51980fa20e32)
        ;

        
    
    
            var marker_31ff7368386645d9996f79ad27c28c41 = L.marker(
                [1.3075996, 103.8585204],
                {}
            ).addTo(map_44298c53706f4fbbbe094a749fad0569);
        
    
            var icon_7e475486310c4145b69c2565fe65a474 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_31ff7368386645d9996f79ad27c28c41.setIcon(icon_7e475486310c4145b69c2565fe65a474);
        
    
        var popup_759cdb24a44b40c1b9cd6fb6b2e425a3 = L.popup({"maxWidth": "100%"});

        
            var i_frame_4ad0e9cbe5714382868915a1151f5728 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAjMiwgSmFuLTI0PGJyPkZyb206IENoaW5hLCBXdWhhbjxicj5Qcm9maWxlOiA1MywgRmVtYWxlPGJyPlZpc2l0ZWQ6IFRhbiBUb2NrIFNlbmcgSG9zcGl0YWwsIFJhZmZsZXMgSG9zcGl0YWwsIE9yY2hhcmQgUm9hZCwgTWFyaW5hIEJheSBTYW5kcywgR2FyZGVucyBieSB0aGUgQmF5" width="300" style="border:none !important;" height="100"></iframe>`)[0];
            popup_759cdb24a44b40c1b9cd6fb6b2e425a3.setContent(i_frame_4ad0e9cbe5714382868915a1151f5728);
        

        marker_31ff7368386645d9996f79ad27c28c41.bindPopup(popup_759cdb24a44b40c1b9cd6fb6b2e425a3)
        ;

        
    
    
            var marker_13591fbc246f4c269de3f9d5916502e1 = L.marker(
                [1.257763, 103.810018],
                {}
            ).addTo(map_44298c53706f4fbbbe094a749fad0569);
        
    
            var icon_f9c22ed5845549c2bfaac18f69a7dbb1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_13591fbc246f4c269de3f9d5916502e1.setIcon(icon_f9c22ed5845549c2bfaac18f69a7dbb1);
        
    
        var popup_60bded87122349789786044ddf65b789 = L.popup({"maxWidth": "100%"});

        
            var i_frame_a540d999f7704232b5235dd2380d4e98 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAjMywgSmFuLTI0PGJyPkZyb206IENoaW5hLCBXdWhhbjxicj5Qcm9maWxlOiAzNywgTWFsZTxicj5WaXNpdGVkOiBTaW5nYXBvcmUgR2VuZXJhbCBIb3NwaXRhbDxicj5MaW5rZWQgdG86IDE=" width="300" style="border:none !important;" height="100"></iframe>`)[0];
            popup_60bded87122349789786044ddf65b789.setContent(i_frame_a540d999f7704232b5235dd2380d4e98);
        

        marker_13591fbc246f4c269de3f9d5916502e1.bindPopup(popup_60bded87122349789786044ddf65b789)
        ;

        
    
    
            var marker_db6e44d670c04cebbe7ee4974f6e2276 = L.marker(
                [1.25212715122, 103.820006847],
                {}
            ).addTo(map_44298c53706f4fbbbe094a749fad0569);
        
    
            var icon_352b8b18f7784851abb57ac16d1b31f4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_db6e44d670c04cebbe7ee4974f6e2276.setIcon(icon_352b8b18f7784851abb57ac16d1b31f4);
        
    
        var popup_97dda48314094b49b12be7be977005cb = L.popup({"maxWidth": "100%"});

        
            var i_frame_a2cc927f602344389cc734fc25741f88 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAjNCwgSmFuLTI1PGJyPkZyb206IENoaW5hLCBXdWhhbjxicj5Qcm9maWxlOiAzNiwgTWFsZTxicj5WaXNpdGVkOiBTZW5na2FuZyBHZW5lcmFsIEhvc3BpdGFsLCBVbml2ZXJzYWwgU3R1ZGlvcyBTaW5nYXBvcmUsIFZpdm9jaXR5" width="300" style="border:none !important;" height="100"></iframe>`)[0];
            popup_97dda48314094b49b12be7be977005cb.setContent(i_frame_a2cc927f602344389cc734fc25741f88);
        

        marker_db6e44d670c04cebbe7ee4974f6e2276.bindPopup(popup_97dda48314094b49b12be7be977005cb)
        ;

        
    
    
            var marker_4edce41253d74c8f9db6cade757b9c16 = L.marker(
                [1.30817132582, 103.900929093],
                {}
            ).addTo(map_44298c53706f4fbbbe094a749fad0569);
        
    
            var icon_565a9ae021954af5bae29570d70a4b5a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_4edce41253d74c8f9db6cade757b9c16.setIcon(icon_565a9ae021954af5bae29570d70a4b5a);
        
    
        var popup_9f8acab795514ad8b12dc9ad90623acf = L.popup({"maxWidth": "100%"});

        
            var i_frame_29b3f6bf11cd463cb117cd0d5970e781 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAjNSwgSmFuLTI3PGJyPkZyb206IENoaW5hLCBXdWhhbjxicj5Qcm9maWxlOiA1NiwgRmVtYWxlPGJyPlZpc2l0ZWQ6IFRhbiBUb2NrIFNlbmcgSG9zcGl0YWw=" width="300" style="border:none !important;" height="100"></iframe>`)[0];
            popup_9f8acab795514ad8b12dc9ad90623acf.setContent(i_frame_29b3f6bf11cd463cb117cd0d5970e781);
        

        marker_4edce41253d74c8f9db6cade757b9c16.bindPopup(popup_9f8acab795514ad8b12dc9ad90623acf)
        ;

        
    
    
            var marker_ebc3e82f7ffd4c6597fce2168296fe87 = L.marker(
                [1.37177592217, 103.944834173],
                {}
            ).addTo(map_44298c53706f4fbbbe094a749fad0569);
        
    
            var icon_32b6349b83d4425e9036261dbc7c2971 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_ebc3e82f7ffd4c6597fce2168296fe87.setIcon(icon_32b6349b83d4425e9036261dbc7c2971);
        
    
        var popup_ad4763aa368b4e71a21a3fb94cff1aa6 = L.popup({"maxWidth": "100%"});

        
            var i_frame_e5d9f8fe159146cfa30f5af4307b4e3a = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAjNiwgSmFuLTI3PGJyPkZyb206IENoaW5hLCBXdWhhbjxicj5Qcm9maWxlOiA1NiwgTWFsZTxicj5WaXNpdGVkOiBDaGFuZ2kgR2VuZXJhbCBIb3NwaXRhbDxicj5TdGF0dXM6IHJlY292ZXJlZA==" width="300" style="border:none !important;" height="100"></iframe>`)[0];
            popup_ad4763aa368b4e71a21a3fb94cff1aa6.setContent(i_frame_e5d9f8fe159146cfa30f5af4307b4e3a);
        

        marker_ebc3e82f7ffd4c6597fce2168296fe87.bindPopup(popup_ad4763aa368b4e71a21a3fb94cff1aa6)
        ;

        
    
    
            var marker_ea63a3a6a8324e91be6b565309b53446 = L.marker(
                [1.28330824331, 103.860577941],
                {}
            ).addTo(map_44298c53706f4fbbbe094a749fad0569);
        
    
            var icon_b595963438e0474d82ed67651f1e8680 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_ea63a3a6a8324e91be6b565309b53446.setIcon(icon_b595963438e0474d82ed67651f1e8680);
        
    
        var popup_fd04578cb8de446a9433cf6f0a400502 = L.popup({"maxWidth": "100%"});

        
            var i_frame_942550256055440e9d216916dc3e66e7 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAjNywgSmFuLTI3PGJyPkZyb206IENoaW5hLCBXdWhhbjxicj5Qcm9maWxlOiAzNSwgTWFsZTxicj5WaXNpdGVkOiBSYWZmbGVzIEhvc3BpdGFs" width="300" style="border:none !important;" height="100"></iframe>`)[0];
            popup_fd04578cb8de446a9433cf6f0a400502.setContent(i_frame_942550256055440e9d216916dc3e66e7);
        

        marker_ea63a3a6a8324e91be6b565309b53446.bindPopup(popup_fd04578cb8de446a9433cf6f0a400502)
        ;

        
    
    
            var marker_1df3f034973b4de890d3b2ba1b643eb9 = L.marker(
                [1.350104424, 103.877644837],
                {}
            ).addTo(map_44298c53706f4fbbbe094a749fad0569);
        
    
            var icon_7eb532efbf45415499a1db26af677f5e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_1df3f034973b4de890d3b2ba1b643eb9.setIcon(icon_7eb532efbf45415499a1db26af677f5e);
        
    
        var popup_8427fb1973c94dad9489557860db49b2 = L.popup({"maxWidth": "100%"});

        
            var i_frame_c1742f4f8f66406c8f49924b7aae9160 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAjOCwgSmFuLTI4PGJyPkZyb206IENoaW5hLCBXdWhhbjxicj5Qcm9maWxlOiA1NiwgTWFsZTxicj5WaXNpdGVkOiBUYW4gVG9jayBTZW5nIEhvc3BpdGFs" width="300" style="border:none !important;" height="100"></iframe>`)[0];
            popup_8427fb1973c94dad9489557860db49b2.setContent(i_frame_c1742f4f8f66406c8f49924b7aae9160);
        

        marker_1df3f034973b4de890d3b2ba1b643eb9.bindPopup(popup_8427fb1973c94dad9489557860db49b2)
        ;

        
    
    
            var marker_340a246f9cb64c75a373a034f9b5e591 = L.marker(
                [1.35016073475, 103.877567053],
                {}
            ).addTo(map_44298c53706f4fbbbe094a749fad0569);
        
    
            var icon_9bd0b7bd2f75428d8d7fa372c5a01dfc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_340a246f9cb64c75a373a034f9b5e591.setIcon(icon_9bd0b7bd2f75428d8d7fa372c5a01dfc);
        
    
        var popup_2ac50bc9e5d243d0987086463853b1db = L.popup({"maxWidth": "100%"});

        
            var i_frame_df2e79b3b2434f498a6db2ee378cd972 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAjOSwgSmFuLTI5PGJyPkZyb206IENoaW5hLCBXdWhhbjxicj5Qcm9maWxlOiA1NiwgRmVtYWxlPGJyPlZpc2l0ZWQ6IFRhbiBUb2NrIFNlbmcgSG9zcGl0YWw=" width="300" style="border:none !important;" height="100"></iframe>`)[0];
            popup_2ac50bc9e5d243d0987086463853b1db.setContent(i_frame_df2e79b3b2434f498a6db2ee378cd972);
        

        marker_340a246f9cb64c75a373a034f9b5e591.bindPopup(popup_2ac50bc9e5d243d0987086463853b1db)
        ;

        
    
    
            var marker_430461e17f454d24883ee895d53d7bc1 = L.marker(
                [1.2707012, 103.8631688],
                {}
            ).addTo(map_44298c53706f4fbbbe094a749fad0569);
        
    
            var icon_c49410177fa14eabbe1872d202e35363 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_430461e17f454d24883ee895d53d7bc1.setIcon(icon_c49410177fa14eabbe1872d202e35363);
        
    
        var popup_daa61111f9724664a82e7b746f0f9798 = L.popup({"maxWidth": "100%"});

        
            var i_frame_bcfe628d2c7d4cc5b153867c21166776 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAjMTAsIEphbi0yOTxicj5Gcm9tOiBDaGluYSwgV3VoYW48YnI+UHJvZmlsZTogNTYsIE1hbGU8YnI+VmlzaXRlZDogTWFyaW5hIFNvdXRoIFBpZXI8YnI+TGlua2VkIHRvOiA0" width="300" style="border:none !important;" height="100"></iframe>`)[0];
            popup_daa61111f9724664a82e7b746f0f9798.setContent(i_frame_bcfe628d2c7d4cc5b153867c21166776);
        

        marker_430461e17f454d24883ee895d53d7bc1.bindPopup(popup_daa61111f9724664a82e7b746f0f9798)
        ;

        
    
    
            var marker_9e9fc31e237f42d2a7bc9fbf6437cd8f = L.marker(
                [1.25210033554, 103.820199966],
                {}
            ).addTo(map_44298c53706f4fbbbe094a749fad0569);
        
    
            var icon_e178429a9a16496490b61569e1fae028 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_9e9fc31e237f42d2a7bc9fbf6437cd8f.setIcon(icon_e178429a9a16496490b61569e1fae028);
        
    
        var popup_f9a9ec87ffc44945ad9ad167750c6d92 = L.popup({"maxWidth": "100%"});

        
            var i_frame_33d720bbf84549e190a4526a284b9fcb = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAjMTEsIEphbi0yOTxicj5Gcm9tOiBDaGluYSwgV3VoYW48YnI+UHJvZmlsZTogMzEsIEZlbWFsZTxicj5WaXNpdGVkOiBTZW5na2FuZyBHZW5lcmFsIEhvc3BpdGFsLCBVbml2ZXJzYWwgU3R1ZGlvcyBTaW5nYXBvcmUsIFZpdm9jaXR5" width="300" style="border:none !important;" height="100"></iframe>`)[0];
            popup_f9a9ec87ffc44945ad9ad167750c6d92.setContent(i_frame_33d720bbf84549e190a4526a284b9fcb);
        

        marker_9e9fc31e237f42d2a7bc9fbf6437cd8f.bindPopup(popup_f9a9ec87ffc44945ad9ad167750c6d92)
        ;

        
    
    
            var marker_a0fa86e8a71446e2b2f874063f062ce1 = L.marker(
                [1.25212715122, 103.819829822],
                {}
            ).addTo(map_44298c53706f4fbbbe094a749fad0569);
        
    
            var icon_7e5f971c8cf8452790788330ef64f484 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_a0fa86e8a71446e2b2f874063f062ce1.setIcon(icon_7e5f971c8cf8452790788330ef64f484);
        
    
        var popup_4375a74781434c3abf8be84efaf7b6ab = L.popup({"maxWidth": "100%"});

        
            var i_frame_63754b72c023486a9a41ee6aea70783a = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAjMTIsIEphbi0yOTxicj5Gcm9tOiBDaGluYSwgV3VoYW48YnI+UHJvZmlsZTogMzcsIEZlbWFsZTxicj5WaXNpdGVkOiBPcmNoYXJkIFJvYWQsIEdleWxhbmc=" width="300" style="border:none !important;" height="100"></iframe>`)[0];
            popup_4375a74781434c3abf8be84efaf7b6ab.setContent(i_frame_63754b72c023486a9a41ee6aea70783a);
        

        marker_a0fa86e8a71446e2b2f874063f062ce1.bindPopup(popup_4375a74781434c3abf8be84efaf7b6ab)
        ;

        
    
    
            var marker_d4e66cc904064c16825beaecef3e9079 = L.marker(
                [1.28549101288, 103.846496344],
                {}
            ).addTo(map_44298c53706f4fbbbe094a749fad0569);
        
    
            var icon_565f4bcbe07d407c8c67f8afb74d6fe5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_d4e66cc904064c16825beaecef3e9079.setIcon(icon_565f4bcbe07d407c8c67f8afb74d6fe5);
        
    
        var popup_283980d73dd24fd888a61652f149ba30 = L.popup({"maxWidth": "100%"});

        
            var i_frame_7b8506452b7c4eb4be63485b232e65aa = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAjMTMsIEphbi0zMDxicj5Gcm9tOiBDaGluYSwgV3VoYW48YnI+UHJvZmlsZTogNzMsIEZlbWFsZTxicj5WaXNpdGVkOiAgQ2hhbmdpIEFpcnBvcnQsIEpld2Vs" width="300" style="border:none !important;" height="100"></iframe>`)[0];
            popup_283980d73dd24fd888a61652f149ba30.setContent(i_frame_7b8506452b7c4eb4be63485b232e65aa);
        

        marker_d4e66cc904064c16825beaecef3e9079.bindPopup(popup_283980d73dd24fd888a61652f149ba30)
        ;

        
    
    
            var marker_8a81ff3f23a14480be73c1f21f6028ca = L.marker(
                [1.33608300636, 103.737467229],
                {}
            ).addTo(map_44298c53706f4fbbbe094a749fad0569);
        
    
            var icon_f508a9a855c6442abca2fb064c840e94 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_8a81ff3f23a14480be73c1f21f6028ca.setIcon(icon_f508a9a855c6442abca2fb064c840e94);
        
    
        var popup_1c8ec1d576794f26a4cf1187442a886c = L.popup({"maxWidth": "100%"});

        
            var i_frame_dc45c4c0664d4672862288f3f0ea10a3 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAjMTQsIEphbi0zMDxicj5Gcm9tOiBDaGluYSwgSHViZWk8YnI+UHJvZmlsZTogMzEsIE1hbGU8YnI+VmlzaXRlZDogR1AgQ2xpbmlj" width="300" style="border:none !important;" height="100"></iframe>`)[0];
            popup_1c8ec1d576794f26a4cf1187442a886c.setContent(i_frame_dc45c4c0664d4672862288f3f0ea10a3);
        

        marker_8a81ff3f23a14480be73c1f21f6028ca.bindPopup(popup_1c8ec1d576794f26a4cf1187442a886c)
        ;

        
    
    
            var marker_5ce101b7dc9c425ea3e75aa4b00d2b37 = L.marker(
                [1.36281989482, 103.99087429],
                {}
            ).addTo(map_44298c53706f4fbbbe094a749fad0569);
        
    
            var icon_ca864f8ec8e84adc9b34f60db2fb72bd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_5ce101b7dc9c425ea3e75aa4b00d2b37.setIcon(icon_ca864f8ec8e84adc9b34f60db2fb72bd);
        
    
        var popup_bb236e00be6947329d312794020d78c4 = L.popup({"maxWidth": "100%"});

        
            var i_frame_c38afa267b7a47f6a5866bac0b9c9bd3 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAjMTUsIEphbi0zMTxicj5Gcm9tOiBTaW5nYXBvcmU8YnI+UHJvZmlsZTogNDcsIEZlbWFsZTxicj5WaXNpdGVkOiBDaGluYSwgV3VoYW4=" width="300" style="border:none !important;" height="100"></iframe>`)[0];
            popup_bb236e00be6947329d312794020d78c4.setContent(i_frame_c38afa267b7a47f6a5866bac0b9c9bd3);
        

        marker_5ce101b7dc9c425ea3e75aa4b00d2b37.bindPopup(popup_bb236e00be6947329d312794020d78c4)
        ;

        
    
    
            var marker_09ebc0b270264378bd7a5007d2a24f77 = L.marker(
                [1.2962606, 103.8256719],
                {}
            ).addTo(map_44298c53706f4fbbbe094a749fad0569);
        
    
            var icon_c1eb8346ffcf42f083a89a690daa8dfc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_09ebc0b270264378bd7a5007d2a24f77.setIcon(icon_c1eb8346ffcf42f083a89a690daa8dfc);
        
    
        var popup_8bf610920381481ea859baa5b3f4c175 = L.popup({"maxWidth": "100%"});

        
            var i_frame_b1e2e398234e4da3b5e7a192b0cda85a = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAjMTYsIEphbi0zMTxicj5Gcm9tOiBDaGluYSwgSHViZWk8YnI+UHJvZmlsZTogMzgsIE1hbGU8YnI+VmlzaXRlZDogU2luZ2Fwb3JlIEdlbmVyYWwgSG9zcGl0YWw=" width="300" style="border:none !important;" height="100"></iframe>`)[0];
            popup_8bf610920381481ea859baa5b3f4c175.setContent(i_frame_b1e2e398234e4da3b5e7a192b0cda85a);
        

        marker_09ebc0b270264378bd7a5007d2a24f77.bindPopup(popup_8bf610920381481ea859baa5b3f4c175)
        ;

        
    
    
            var marker_6269e7e00b7847a986eae77ebb0cafb2 = L.marker(
                [1.36270727391, 103.991131783],
                {}
            ).addTo(map_44298c53706f4fbbbe094a749fad0569);
        
    
            var icon_82d444de58864d7ba1d333d5edf959ef = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_6269e7e00b7847a986eae77ebb0cafb2.setIcon(icon_82d444de58864d7ba1d333d5edf959ef);
        
    
        var popup_f688a20c10594e5c8d8f7308de8a716c = L.popup({"maxWidth": "100%"});

        
            var i_frame_674e77b335244f9192fbc514bbd2e707 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAjMTcsIEphbi0zMTxicj5Gcm9tOiBTaW5nYXBvcmU8YnI+UHJvZmlsZTogNDcsIEZlbWFsZTxicj5WaXNpdGVkOiBDaGluYSwgV3VoYW48YnI+TGlua2VkIHRvOiAxMg==" width="300" style="border:none !important;" height="100"></iframe>`)[0];
            popup_f688a20c10594e5c8d8f7308de8a716c.setContent(i_frame_674e77b335244f9192fbc514bbd2e707);
        

        marker_6269e7e00b7847a986eae77ebb0cafb2.bindPopup(popup_f688a20c10594e5c8d8f7308de8a716c)
        ;

        
    
    
            var marker_d58d9fb45d484511afe5679a4101355e = L.marker(
                [1.31126578637, 103.878130317],
                {}
            ).addTo(map_44298c53706f4fbbbe094a749fad0569);
        
    
            var icon_8e0d57604cb44058bcc6bb16b8665684 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_d58d9fb45d484511afe5679a4101355e.setIcon(icon_8e0d57604cb44058bcc6bb16b8665684);
        
    
        var popup_fb2129b214a04056b7ec3249e8976cc9 = L.popup({"maxWidth": "100%"});

        
            var i_frame_e2c859d225644dd0804f68d1d23156c5 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAjMTgsIEZlYi0wMTxicj5Gcm9tOiBDaGluYSwgV3VoYW48YnI+UHJvZmlsZTogMzEsIEZlbWFsZTxicj5WaXNpdGVkOiA=" width="300" style="border:none !important;" height="100"></iframe>`)[0];
            popup_fb2129b214a04056b7ec3249e8976cc9.setContent(i_frame_e2c859d225644dd0804f68d1d23156c5);
        

        marker_d58d9fb45d484511afe5679a4101355e.bindPopup(popup_fb2129b214a04056b7ec3249e8976cc9)
        ;

        
    
    
            var marker_3ec7fef6a2614a028fc6d388e34968e1 = L.marker(
                [1.28475359094, 103.815278113],
                {}
            ).addTo(map_44298c53706f4fbbbe094a749fad0569);
        
    
            var icon_20fe80489bbf4008a4d5ecb2f9693864 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_3ec7fef6a2614a028fc6d388e34968e1.setIcon(icon_20fe80489bbf4008a4d5ecb2f9693864);
        
    
        var popup_2ce54e2b6b5b44d0a2239a6612d1484f = L.popup({"maxWidth": "100%"});

        
            var i_frame_dd0263c2e45e4d16917c4bbc416e7cd0 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAjMTksIEZlYi0wNDxicj5Gcm9tOiBTaW5nYXBvcmU8YnI+UHJvZmlsZTogMjgsIEZlbWFsZTxicj5WaXNpdGVkOiBTaW5nYXBvcmUgR2VuZXJhbCBIb3NwaXRhbCwgVGFuIFRvY2sgU2VuZyBIb3NwaXRhbCwgR1AgQ2xpbmljLCBZb25nIFRoYWkgSGFuZywgRGlhbW9uZCBJbmR1c3RyaWVzIEpld2VsbGVyeSwgTWVldGluZyBZb3UgUmVzdGF1cmFudCwgUm95YWwgRHJhZ29uIFJlc3RhdXJhbnQsIFQgR2FsbGVyaWEgYnkgREZTLCBEUmVzb3J0IEAgRG93bnRvd24gRWFzdA==" width="300" style="border:none !important;" height="100"></iframe>`)[0];
            popup_2ce54e2b6b5b44d0a2239a6612d1484f.setContent(i_frame_dd0263c2e45e4d16917c4bbc416e7cd0);
        

        marker_3ec7fef6a2614a028fc6d388e34968e1.bindPopup(popup_2ce54e2b6b5b44d0a2239a6612d1484f)
        ;

        
    
    
            var marker_7831b502366e420b843dd0d36b9ef8c3 = L.marker(
                [1.37476572624, 103.885970414],
                {}
            ).addTo(map_44298c53706f4fbbbe094a749fad0569);
        
    
            var icon_4e97bdb93d0e46219158d98df0f78a7f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_7831b502366e420b843dd0d36b9ef8c3.setIcon(icon_4e97bdb93d0e46219158d98df0f78a7f);
        
    
        var popup_92f9ee017e79452ca9c001c580a3682e = L.popup({"maxWidth": "100%"});

        
            var i_frame_76849431bc0f4efeb78a139dee3998c9 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAjMjAsIEZlYi0wNDxicj5Gcm9tOiBTaW5nYXBvcmU8YnI+UHJvZmlsZTogNDgsIEZlbWFsZTxicj5WaXNpdGVkOiBZb25nIFRoYWkgSGFuZywgRGlhbW9uZCBJbmR1c3RyaWVzIEpld2VsbGVyeSwgTWVldGluZyBZb3UgUmVzdGF1cmFudCwgUm95YWwgRHJhZ29uIFJlc3RhdXJhbnQsIFQgR2FsbGVyaWEgYnkgREZTLCBEUmVzb3J0IEAgRG93bnRvd24gRWFzdDxicj5MaW5rZWQgdG86IDE5" width="300" style="border:none !important;" height="100"></iframe>`)[0];
            popup_92f9ee017e79452ca9c001c580a3682e.setContent(i_frame_76849431bc0f4efeb78a139dee3998c9);
        

        marker_7831b502366e420b843dd0d36b9ef8c3.bindPopup(popup_92f9ee017e79452ca9c001c580a3682e)
        ;

        
    
    
            var marker_94d24246283c4617b215c3c1aef1a04a = L.marker(
                [1.28479917703, 103.815087676],
                {}
            ).addTo(map_44298c53706f4fbbbe094a749fad0569);
        
    
            var icon_2941a4f4374d4ada9b37dfde73f87cfe = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_94d24246283c4617b215c3c1aef1a04a.setIcon(icon_2941a4f4374d4ada9b37dfde73f87cfe);
        
    
        var popup_ffa70f2a18df4c74b9e92a188563f5c8 = L.popup({"maxWidth": "100%"});

        
            var i_frame_f64dc467b0a54f2696df2e47e7a79946 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAjMjEsIEZlYi0wNDxicj5Gcm9tOiBTaW5nYXBvcmU8YnI+UHJvZmlsZTogNDQsIEZlbWFsZTxicj5WaXNpdGVkOiBTaW5nYXBvcmUgR2VuZXJhbCBIb3NwaXRhbCwgWW9uZyBUaGFpIEhhbmcsIERpYW1vbmQgSW5kdXN0cmllcyBKZXdlbGxlcnksIE1lZXRpbmcgWW91IFJlc3RhdXJhbnQsIFJveWFsIERyYWdvbiBSZXN0YXVyYW50LCBUIEdhbGxlcmlhIGJ5IERGUywgRFJlc29ydCBAIERvd250b3duIEVhc3Q8YnI+TGlua2VkIHRvOiAxOQ==" width="300" style="border:none !important;" height="100"></iframe>`)[0];
            popup_ffa70f2a18df4c74b9e92a188563f5c8.setContent(i_frame_f64dc467b0a54f2696df2e47e7a79946);
        

        marker_94d24246283c4617b215c3c1aef1a04a.bindPopup(popup_ffa70f2a18df4c74b9e92a188563f5c8)
        ;

        
    
    
            var marker_e47e79288cb346cb9547de56ec22ad77 = L.marker(
                [1.36292983428, 103.99122566],
                {}
            ).addTo(map_44298c53706f4fbbbe094a749fad0569);
        
    
            var icon_7fd8e3dd55b04740845772b92b3e56e5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_e47e79288cb346cb9547de56ec22ad77.setIcon(icon_7fd8e3dd55b04740845772b92b3e56e5);
        
    
        var popup_109805a62b224416b5f9499216402cc7 = L.popup({"maxWidth": "100%"});

        
            var i_frame_aa01c6cebcdf462aa9ee072091f3a78c = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAjMjIsIEZlYi0wNDxicj5Gcm9tOiBTaW5nYXBvcmU8YnI+UHJvZmlsZTogNDEsIE1hbGU8YnI+VmlzaXRlZDogQ2hpbmEsIFd1aGFu" width="300" style="border:none !important;" height="100"></iframe>`)[0];
            popup_109805a62b224416b5f9499216402cc7.setContent(i_frame_aa01c6cebcdf462aa9ee072091f3a78c);
        

        marker_e47e79288cb346cb9547de56ec22ad77.bindPopup(popup_109805a62b224416b5f9499216402cc7)
        ;

        
    
    
            var marker_4cbfb98c7f3c4119ae3450a1551345ee = L.marker(
                [1.36307195114, 103.990965486],
                {}
            ).addTo(map_44298c53706f4fbbbe094a749fad0569);
        
    
            var icon_4ac2f4e16988407ca7aee35fd469ef16 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_4cbfb98c7f3c4119ae3450a1551345ee.setIcon(icon_4ac2f4e16988407ca7aee35fd469ef16);
        
    
        var popup_8cdec334340b421b8d9335f319a86e60 = L.popup({"maxWidth": "100%"});

        
            var i_frame_f2d41542f18243da9fbe198b7bce98bd = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAjMjMsIEZlYi0wNDxicj5Gcm9tOiBTaW5nYXBvcmU8YnI+UHJvZmlsZTogMTcsIE1hbGU8YnI+VmlzaXRlZDogQ2hpbmEsIFd1aGFu" width="300" style="border:none !important;" height="100"></iframe>`)[0];
            popup_8cdec334340b421b8d9335f319a86e60.setContent(i_frame_f2d41542f18243da9fbe198b7bce98bd);
        

        marker_4cbfb98c7f3c4119ae3450a1551345ee.bindPopup(popup_8cdec334340b421b8d9335f319a86e60)
        ;

        
    
    
            var marker_f7a423e107d7417fa2d3d2e537a95459 = L.marker(
                [1.3793195, 103.8826748],
                {}
            ).addTo(map_44298c53706f4fbbbe094a749fad0569);
        
    
            var icon_85f6ea2073ae4a7f973072b18c3e63fa = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_f7a423e107d7417fa2d3d2e537a95459.setIcon(icon_85f6ea2073ae4a7f973072b18c3e63fa);
        
    
        var popup_f20c5dd8463e4c6b9143f9b9814bd598 = L.popup({"maxWidth": "100%"});

        
            var i_frame_6fbd4383bfc4480da63d3b81a50c8966 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAjMjQsIEZlYi0wNDxicj5Gcm9tOiBTaW5nYXBvcmU8YnI+UHJvZmlsZTogMzIsIEZlbWFsZTxicj5WaXNpdGVkOiBZb25nIFRoYWkgSGFuZywgSmFsYW4gQmVzYXIsIEhvdWdhbmcgUG9seWNsaW5pYywgRGlhbW9uZCBJbmR1c3RyaWVzIEpld2VsbGVyeSwgTWVldGluZyBZb3UgUmVzdGF1cmFudCwgUm95YWwgRHJhZ29uIFJlc3RhdXJhbnQsIFQgR2FsbGVyaWEgYnkgREZTLCBEUmVzb3J0IEAgRG93bnRvd24gRWFzdDxicj5MaW5rZWQgdG86IDE5" width="300" style="border:none !important;" height="100"></iframe>`)[0];
            popup_f20c5dd8463e4c6b9143f9b9814bd598.setContent(i_frame_6fbd4383bfc4480da63d3b81a50c8966);
        

        marker_f7a423e107d7417fa2d3d2e537a95459.bindPopup(popup_f20c5dd8463e4c6b9143f9b9814bd598)
        ;

        
    
    
            var marker_58311a0ed7c84fc391d68f806fe236e7 = L.marker(
                [1.37916596021, 103.882692754],
                {}
            ).addTo(map_44298c53706f4fbbbe094a749fad0569);
        
    
            var icon_79d90c248cb74675ae630e764c43db37 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_58311a0ed7c84fc391d68f806fe236e7.setIcon(icon_79d90c248cb74675ae630e764c43db37);
        
    
        var popup_d2a279d2981d4b57a3b583e300584e90 = L.popup({"maxWidth": "100%"});

        
            var i_frame_4c322864dcf54907aeadc656353b31af = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAjMjUsIEZlYi0wNDxicj5Gcm9tOiBTaW5nYXBvcmU8YnI+UHJvZmlsZTogMzIsIE1hbGU8YnI+VmlzaXRlZDogSG91Z2FuZyBQb2x5Y2xpbmljLCBQYXNpciBQYW5qYW5nIEhhd2tlciBDZW50cmUsIERpYW1vbmQgSW5kdXN0cmllcyBKZXdlbGxlcnkgQ29tcGFueSwgWW9uZyBUaGFpIEhhbmcsIE1lZXRpbmcgWW91IFJlc3RhdXJhbnQsIFJveWFsIERyYWdvbiBSZXN0YXVyYW50LCBUIEdhbGxlcmlhIGJ5IERGUywgRFJlc29ydCBAIERvd250b3duIEVhc3Q8YnI+TGlua2VkIHRvOiAyNA==" width="300" style="border:none !important;" height="100"></iframe>`)[0];
            popup_d2a279d2981d4b57a3b583e300584e90.setContent(i_frame_4c322864dcf54907aeadc656353b31af);
        

        marker_58311a0ed7c84fc391d68f806fe236e7.bindPopup(popup_d2a279d2981d4b57a3b583e300584e90)
        ;

        
    
    
            var marker_d38fd48ee6c44b369249a14b54d09eca = L.marker(
                [1.32152520963, 103.847638965],
                {}
            ).addTo(map_44298c53706f4fbbbe094a749fad0569);
        
    
            var icon_acd2e3c4dfd74df48da06fa77e4ce682 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_d38fd48ee6c44b369249a14b54d09eca.setIcon(icon_acd2e3c4dfd74df48da06fa77e4ce682);
        
    
        var popup_e85b9df0fc8b4b76967aee3aba901e7b = L.popup({"maxWidth": "100%"});

        
            var i_frame_92aadba75595474fb54df2dda7c405e0 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAjMjYsIEZlYi0wNDxicj5Gcm9tOiBDaGluYSwgV3VoYW48YnI+UHJvZmlsZTogNDIsIEZlbWFsZTxicj5WaXNpdGVkOiA8YnI+TGlua2VkIHRvOiAxMw==" width="300" style="border:none !important;" height="100"></iframe>`)[0];
            popup_e85b9df0fc8b4b76967aee3aba901e7b.setContent(i_frame_92aadba75595474fb54df2dda7c405e0);
        

        marker_d38fd48ee6c44b369249a14b54d09eca.bindPopup(popup_e85b9df0fc8b4b76967aee3aba901e7b)
        ;

        
    
    
            var marker_26b10e73ea2541fe96112874c9542462 = L.marker(
                [1.28465705569, 103.815594614],
                {}
            ).addTo(map_44298c53706f4fbbbe094a749fad0569);
        
    
            var icon_6877f90653784e6d8739dad08fe5074d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_26b10e73ea2541fe96112874c9542462.setIcon(icon_6877f90653784e6d8739dad08fe5074d);
        
    
        var popup_919b25d065974cb98aa04859caa467ff = L.popup({"maxWidth": "100%"});

        
            var i_frame_9153d06f12e6422384d405ad247f7be5 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAjMjcsIEZlYi0wNTxicj5Gcm9tOiBTaW5nYXBvcmU8YnI+UHJvZmlsZTogMjUsIE1hbGU8YnI+VmlzaXRlZDogWW9uZyBUaGFpIEhhbmcsIERpYW1vbmQgSW5kdXN0cmllcyBKZXdlbGxlcnksIE1lZXRpbmcgWW91IFJlc3RhdXJhbnQsIFJveWFsIERyYWdvbiBSZXN0YXVyYW50LCBUIEdhbGxlcmlhIGJ5IERGUywgRFJlc29ydCBAIERvd250b3duIEVhc3Q8YnI+TGlua2VkIHRvOiAxOQ==" width="300" style="border:none !important;" height="100"></iframe>`)[0];
            popup_919b25d065974cb98aa04859caa467ff.setContent(i_frame_9153d06f12e6422384d405ad247f7be5);
        

        marker_26b10e73ea2541fe96112874c9542462.bindPopup(popup_919b25d065974cb98aa04859caa467ff)
        ;

        
    
    
            var marker_c82122aba70c4684a1e83553d617a91f = L.marker(
                [1.28469996024, 103.815433681],
                {}
            ).addTo(map_44298c53706f4fbbbe094a749fad0569);
        
    
            var icon_6e592c3d8200453288cca0a1dc9ce01a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_c82122aba70c4684a1e83553d617a91f.setIcon(icon_6e592c3d8200453288cca0a1dc9ce01a);
        
    
        var popup_7e2e446f9e2f4534a530cff9e97d2633 = L.popup({"maxWidth": "100%"});

        
            var i_frame_784ff85db92444959f3ab6a99f15073f = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAjMjgsIEZlYi0wNTxicj5Gcm9tOiBTaW5nYXBvcmU8YnI+UHJvZmlsZTogMCwgTWFsZTxicj5WaXNpdGVkOiBLSyBXb21lbnMgYW5kIENoaWxkcmVucyBIb3NwaXRhbCwgWW9uZyBUaGFpIEhhbmcsIERpYW1vbmQgSW5kdXN0cmllcyBKZXdlbGxlcnksIE1lZXRpbmcgWW91IFJlc3RhdXJhbnQsIFJveWFsIERyYWdvbiBSZXN0YXVyYW50LCBUIEdhbGxlcmlhIGJ5IERGUywgRFJlc29ydCBAIERvd250b3duIEVhc3Q8YnI+TGlua2VkIHRvOiAyNw==" width="300" style="border:none !important;" height="100"></iframe>`)[0];
            popup_7e2e446f9e2f4534a530cff9e97d2633.setContent(i_frame_784ff85db92444959f3ab6a99f15073f);
        

        marker_c82122aba70c4684a1e83553d617a91f.bindPopup(popup_7e2e446f9e2f4534a530cff9e97d2633)
        ;

        
    
    
            var marker_1840c8ad23794dd0b42230b2e871c6e8 = L.marker(
                [1.322274, 103.844135],
                {}
            ).addTo(map_44298c53706f4fbbbe094a749fad0569);
        
    
            var icon_796489f9cc4845729d3ddd517691abd6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_1840c8ad23794dd0b42230b2e871c6e8.setIcon(icon_796489f9cc4845729d3ddd517691abd6);
        
    
        var popup_12883010e66748fc8306d88de37f78ce = L.popup({"maxWidth": "100%"});

        
            var i_frame_cbbe20f88a864a5c8a9f51c0eecc5507 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAjMjksIEZlYi0wNjxicj5Gcm9tOiBTaW5nYXBvcmU8YnI+UHJvZmlsZTogNDEsIE1hbGU8YnI+VmlzaXRlZDogTW91bnQgRWxpemFiZXRoIE5vdmVuYSBIb3NwaXRhbCwgR1AgQ2xpbmlj" width="300" style="border:none !important;" height="100"></iframe>`)[0];
            popup_12883010e66748fc8306d88de37f78ce.setContent(i_frame_cbbe20f88a864a5c8a9f51c0eecc5507);
        

        marker_1840c8ad23794dd0b42230b2e871c6e8.bindPopup(popup_12883010e66748fc8306d88de37f78ce)
        ;

        
    
    
            var marker_2c52b7dc7ffb4dafb6559b9198b13afd = L.marker(
                [1.30645, 103.833184],
                {}
            ).addTo(map_44298c53706f4fbbbe094a749fad0569);
        
    
            var icon_c9b0bdfa705f4d3c96e129312d3c0401 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_2c52b7dc7ffb4dafb6559b9198b13afd.setIcon(icon_c9b0bdfa705f4d3c96e129312d3c0401);
        
    
        var popup_cc1b8df2080b407facfcebc47b4a486f = L.popup({"maxWidth": "100%"});

        
            var i_frame_23dc3d0b4b31437c8faabb521cbe9d4c = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAjMzAsIEZlYi0wNjxicj5Gcm9tOiBTaW5nYXBvcmU8YnI+UHJvZmlsZTogMjcsIE1hbGU8YnI+VmlzaXRlZDogR3JhbmQgSHlhdHQgU2luZ2Fwb3JlIEhvdGVs" width="300" style="border:none !important;" height="100"></iframe>`)[0];
            popup_cc1b8df2080b407facfcebc47b4a486f.setContent(i_frame_23dc3d0b4b31437c8faabb521cbe9d4c);
        

        marker_2c52b7dc7ffb4dafb6559b9198b13afd.bindPopup(popup_cc1b8df2080b407facfcebc47b4a486f)
        ;

        
    
    
            var feature_group_5ab930ee8ae74fac954f99e3cd482c64 = L.featureGroup(
                {}
            ).addTo(map_44298c53706f4fbbbe094a749fad0569);
        
</script>